workflows/01-profile-linkedin-search-webhook.json
{
  "name": "[01] [webhook] [profile] [linkedin search]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "profile/linkedin-search",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "73e0b752-c905-4261-b0f9-45432a1a8e54",
      "name": "webhook-linkedin-search",
      "position": [
        -1904,
        -32
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "7bdde279-68e6-4098-a788-226e6c6c7906",
      "credentials": {
        "jwtAuth": {
          "id": "Y81uL2Ni4CoBivqb",
          "name": "Supabase JWT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\nif (!input.jwtPayload?.sub) {\n  throw new Error('Authentication required');\n}\n\nconst fullName = input.body?.full_name?.trim();\nif (!fullName || fullName.length < 2) {\n  throw new Error('Name must be at least 2 characters');\n}\n\nreturn {\n  json: {\n    profile_id: input.jwtPayload.sub,\n    full_name: fullName,\n    search_query: `site:linkedin.com/in ${fullName}`\n  }\n};"
      },
      "id": "74c26c8d-d94e-4196-9cad-690308e81ad5",
      "name": "validate-search-request",
      "position": [
        -1680,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": $json.message, \"code\": \"VALIDATION_ERROR\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "2570dd52-0859-4399-9929-40cbcc3a97d0",
      "name": "respond-400",
      "position": [
        -1456,
        -240
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2bb46b0b-db04-471a-8bd9-ccaa03039f12",
      "maxTries": 3,
      "name": "fetch-serp-results",
      "position": [
        -1456,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xzVuBsdNmhdk9gR6",
          "name": "Serper API"
        },
        "httpQueryAuth": {
          "id": "xzVuBsdNmhdk9gR6",
          "name": "Serper API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "result-count-1",
              "leftValue": "={{ $json.organic ? $json.organic.length : 0 }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "525bb17a-0f22-4374-969a-392e54d84370",
      "name": "check-has-results",
      "position": [
        -1232,
        -64
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Search provider unavailable\", \"code\": \"SERP_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a40c38bc-cdf3-4dc2-9082-0e71ab196f5d",
      "name": "respond-500-serp",
      "position": [
        -1232,
        128
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"success\", \"data\": { \"candidates\": [] } }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bdec9437-db5c-4561-865c-8d1c52a7e0a0",
      "name": "respond-200-empty",
      "position": [
        -1008,
        -272
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Profile analysis failed\", \"code\": \"AI_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "e0b2a283-68f0-48e3-9695-ae845ddff2c7",
      "name": "respond-500-ai",
      "position": [
        -784,
        96
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptPath": "extract-linkedin-from-serp",
        "parametersUi": {
          "parameter": [
            {
              "name": "query",
              "value": "={{ $('validate-search-request').item.json.full_name }}"
            },
            {
              "name": "serp_results",
              "value": "={{ JSON.stringify($json.organic) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-latitude.latitude",
      "typeVersion": 1,
      "position": [
        -1008,
        -80
      ],
      "id": "74a4459d-1a83-496b-b5d9-d75e43b542fc",
      "name": "latitude-extract-profiles",
      "credentials": {
        "latitudeApi": {
          "id": "sJhnEc7B36cC3KXC",
          "name": "Latitude account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first().json;\n\n// FIX: Access the 'object' property where the array of candidates actually lives.\n// If 'object' doesn't exist, we default to an empty array to prevent errors.\nconst candidates = Array.isArray(inputItem.object) ? inputItem.object : [];\n\nreturn candidates.map(candidate => {\n  let locationCity = null;\n  let locationCountry = null;\n  \n  if (candidate.location) {\n    const parts = candidate.location.split(',').map(s => s.trim());\n    locationCity = parts[0] || null;\n    // Only assign country if a second part exists\n    locationCountry = parts.length > 1 ? parts[1] : null;\n  }\n  \n  return {\n    json: {\n      linkedin_url: candidate.linkedin_url,\n      // Added safety check: ensure linkedin_url exists before splitting\n      linkedin_profile_id: candidate.linkedin_url \n        ? candidate.linkedin_url.split('/in/')[1]?.replace(/\\/$/, '') \n        : null,\n      full_name: candidate.full_name,\n      headline: candidate.entity_detail || null,\n      company_name: candidate.entity_title || null,\n      location_city: locationCity,\n      location_country: locationCountry,\n      education: candidate.education_entity || null\n    }\n  };\n});"
      },
      "id": "cc940edc-3389-48ee-9b8b-fc5fa60a8eed",
      "name": "parse-location-data",
      "position": [
        -784,
        -96
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "eec5cabf-81f5-47d2-95f2-109c9ea0f16b",
      "name": "limit-candidates",
      "position": [
        -560,
        -96
      ],
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "status",
              "type": "string",
              "value": "success"
            },
            {
              "name": "data.candidates",
              "type": "array",
              "value": "={{ $input.all().map(i => i.json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2766b02d-7fce-4ad2-8bf2-8ecc24eaf9cb",
      "name": "normalize-response",
      "position": [
        -336,
        -96
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b3a72311-719c-45ba-a805-9055cf42f63d",
      "name": "respond-200-success",
      "position": [
        -112,
        -96
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-linkedin-search": {
      "main": [
        [
          {
            "node": "validate-search-request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-search-request": {
      "main": [
        [
          {
            "node": "fetch-serp-results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-serp-results": {
      "main": [
        [
          {
            "node": "check-has-results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-serp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-has-results": {
      "main": [
        [
          {
            "node": "latitude-extract-profiles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-200-empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "latitude-extract-profiles": {
      "main": [
        [
          {
            "node": "parse-location-data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse-location-data": {
      "main": [
        [
          {
            "node": "limit-candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limit-candidates": {
      "main": [
        [
          {
            "node": "normalize-response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize-response": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-linkedin-search": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "user-agent": "curl/8.7.1",
          "content-length": "27",
          "accept": "*/*",
          "authorization": "Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6Iks2eUhTRDN5MTFLUEJUaGwiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2R1Z2dneHJ3dmZha3J6bW5sZmlmLnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiJkNjU0YmRkNi0xN2VhLTRkNDYtODIyMi1iMjlhZDUwN2I2MzMiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzYzOTA3Nzg5LCJpYXQiOjE3NjM5MDQxODksImVtYWlsIjoidGVzdEBleGFtcGxlLmNvbSIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnsiY3JlYXRlZF9hdCI6IjIwMjUtMTEtMjNUMTM6MjM6MDguNzY3WiIsImNyZWF0ZWRfYnkiOiJtb2NrLXNjcmlwdCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlfSwicm9sZSI6ImF1dGhlbnRpY2F0ZWQiLCJhYWwiOiJhYWwxIiwiYW1yIjpbeyJtZXRob2QiOiJwYXNzd29yZCIsInRpbWVzdGFtcCI6MTc2MzkwNDE4OX1dLCJzZXNzaW9uX2lkIjoiM2FhNTYyZjYtYzAxZi00N2U1LWFlMmYtYTAyOTUzYWU4MWIzIiwiaXNfYW5vbnltb3VzIjpmYWxzZX0.ZOWmfcMVGXLVkq1-4M4HoWGEHf6UHQHGFFDhIbeBYa0",
          "content-type": "application/json",
          "x-forwarded-for": "135.180.58.130",
          "x-forwarded-host": "aura.zeogen.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "9f67d38263c1",
          "x-real-ip": "135.180.58.130",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "full_name": "Sarah Chen"
        },
        "webhookUrl": "https://aura.zeogen.com/v1/profile/linkedin-search",
        "executionMode": "test",
        "jwtPayload": {
          "iss": "https://dugggxrwvfakrzmnlfif.supabase.co/auth/v1",
          "sub": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "aud": "authenticated",
          "exp": 1763907789,
          "iat": 1763904189,
          "email": "test@example.com",
          "phone": "",
          "app_metadata": {
            "provider": "email",
            "providers": [
              "email"
            ]
          },
          "user_metadata": {
            "created_at": "2025-11-23T13:23:08.767Z",
            "created_by": "mock-script",
            "email_verified": true
          },
          "role": "authenticated",
          "aal": "aal1",
          "amr": [
            {
              "method": "password",
              "timestamp": 1763904189
            }
          ],
          "session_id": "3aa562f6-c01f-47e5-ae2f-a02953ae81b3",
          "is_anonymous": false
        }
      }
    ],
    "validate-search-request": [
      {
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "full_name": "Sarah Chen",
        "search_query": "site:linkedin.com/in Sarah Chen"
      }
    ],
    "fetch-serp-results": [
      {
        "searchParameters": {
          "q": "site:linkedin.com/in Sarah Chen",
          "type": "search",
          "num": 10,
          "engine": "google"
        },
        "organic": [
          {
            "title": "Sarah Chen-Spellings - Beyond The Billion ...",
            "link": "https://www.linkedin.com/in/sarahchenglobal",
            "snippet": "Sarah Chen-Spellings is an award-winning entrepreneur, investor, and global voice at the\u2026 \u00b7 Experience: Beyond The Billion (from the Founders of The Billion ...",
            "position": 1
          },
          {
            "title": "Sarah Chen - Researcher and Game Designer",
            "link": "https://www.linkedin.com/in/sarahchen22",
            "snippet": "Researcher and Game Designer \u00b7 Experience: University of Oxford \u00b7 Education: University of Oxford \u00b7 Location: Claremont \u00b7 500+ connections on LinkedIn.",
            "position": 2
          },
          {
            "title": "Sarah Chen - Passionate about People | Driven for Impact",
            "subtitle": "Redmond, Washington, United States \u00b7 Financial Analyst \u00b7 Microsoft",
            "link": "https://www.linkedin.com/in/chen-sarah",
            "snippet": "I am passionate about people and seeing the tangible impact of my work. I strive to understand others better, hear their stories, and empower them in work and ...",
            "position": 3
          },
          {
            "title": "Sarah Chen - Staying hungry",
            "link": "https://www.linkedin.com/in/sarah-chen-276a1617",
            "snippet": "I'm an actuary (FCAS, FSA) with 18 years of experience across the banking and insurance sectors, specializing in climate risk, credit risk, capital optimization ...",
            "position": 4
          },
          {
            "title": "Sarah Chen, MD - Product & Strategy Leader",
            "link": "https://www.linkedin.com/in/sarahpchen",
            "snippet": "Sarah Chen, MD. Product & Strategy Leader | Scaled Healthcare Solutions at Maven, Verily, Clarify | Physician & former McKinsey ...",
            "position": 5
          },
          {
            "title": "Sarah Chen - Builder at Reevo",
            "subtitle": "San Francisco, California, United States \u00b7 Builder (Finance) \u00b7 Reevo",
            "link": "https://www.linkedin.com/in/sarahchen329",
            "snippet": "Builder at Reevo \u00b7 Experience: Reevo \u00b7 Education: University of California, Berkeley \u00b7 Location: San Francisco \u00b7 500+ connections on LinkedIn. View Sarah ...",
            "position": 6
          },
          {
            "title": "Sarah Chen - New York, New York, United States",
            "link": "https://www.linkedin.com/in/sarah-chen-143dlx",
            "snippet": "Experience: DLx Law \u00b7 Education: Columbia University School of Law \u00b7 Location: New York \u00b7 500+ connections on LinkedIn. View Sarah Chen's profile on ...",
            "position": 7
          },
          {
            "title": "Fangyuan Sarah Chen - Staff Software Engineer at Google",
            "subtitle": "Santa Clara, California, United States \u00b7 Senior Software Engineer \u00b7 Google",
            "link": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
            "snippet": "Top 1% Software Engineer. Consolidating business insights into products. I am a Staff Software Engineer and a Tech Lead Manager (TLM) at Google.",
            "position": 8
          },
          {
            "title": "Sarah Chen - SWE @ Datadog",
            "subtitle": "New York, New York, United States \u00b7 Software Engineer \u00b7 Datadog",
            "link": "https://www.linkedin.com/in/sarahchen6",
            "snippet": "I'm a recent graduate from Carnegie Mellon University's School of Computer Science, where I majored in CS and minored in Science, Technology, and Society.",
            "position": 9
          }
        ],
        "credits": 1
      }
    ],
    "latitude-extract-profiles": [
      {
        "text": "[\n  {\n    \"full_name\": \"Sarah Chen-Spellings\",\n    \"entity_title\": \"Beyond The Billion\",\n    \"entity_detail\": null,\n    \"education_entity\": null,\n    \"education_detail\": null,\n    \"location\": null,\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarahchenglobal\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"University of Oxford\",\n    \"entity_detail\": \"Researcher and Game Designer\",\n    \"education_entity\": \"University of Oxford\",\n    \"education_detail\": null,\n    \"location\": \"Claremont, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarahchen22\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"Microsoft\",\n    \"entity_detail\": \"Financial Analyst\",\n    \"education_entity\": null,\n    \"education_detail\": null,\n    \"location\": \"Redmond, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/chen-sarah\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": null,\n    \"entity_detail\": \"Actuary\",\n    \"education_entity\": null,\n    \"education_detail\": null,\n    \"location\": null,\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarah-chen-276a1617\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"Maven\",\n    \"entity_detail\": \"Product & Strategy Leader\",\n    \"education_entity\": null,\n    \"education_detail\": null,\n    \"location\": null,\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarahpchen\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"Reevo\",\n    \"entity_detail\": \"Builder (Finance)\",\n    \"education_entity\": \"University of California, Berkeley\",\n    \"education_detail\": null,\n    \"location\": \"San Francisco, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarahchen329\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"DLx Law\",\n    \"entity_detail\": null,\n    \"education_entity\": \"Columbia University School of Law\",\n    \"education_detail\": null,\n    \"location\": \"New York, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarah-chen-143dlx\"\n  },\n  {\n    \"full_name\": \"Fangyuan Sarah Chen\",\n    \"entity_title\": \"Google\",\n    \"entity_detail\": \"Staff Software Engineer\",\n    \"education_entity\": null,\n    \"education_detail\": null,\n    \"location\": \"Santa Clara, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169\"\n  },\n  {\n    \"full_name\": \"Sarah Chen\",\n    \"entity_title\": \"Datadog\",\n    \"entity_detail\": \"Software Engineer\",\n    \"education_entity\": \"Carnegie Mellon University\",\n    \"education_detail\": \"Computer Science\",\n    \"location\": \"New York, US\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/sarahchen6\"\n  }\n]",
        "object": [
          {
            "full_name": "Sarah Chen-Spellings",
            "entity_title": "Beyond The Billion",
            "entity_detail": null,
            "education_entity": null,
            "education_detail": null,
            "location": null,
            "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "University of Oxford",
            "entity_detail": "Researcher and Game Designer",
            "education_entity": "University of Oxford",
            "education_detail": null,
            "location": "Claremont, US",
            "linkedin_url": "https://www.linkedin.com/in/sarahchen22"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "Microsoft",
            "entity_detail": "Financial Analyst",
            "education_entity": null,
            "education_detail": null,
            "location": "Redmond, US",
            "linkedin_url": "https://www.linkedin.com/in/chen-sarah"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": null,
            "entity_detail": "Actuary",
            "education_entity": null,
            "education_detail": null,
            "location": null,
            "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "Maven",
            "entity_detail": "Product & Strategy Leader",
            "education_entity": null,
            "education_detail": null,
            "location": null,
            "linkedin_url": "https://www.linkedin.com/in/sarahpchen"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "Reevo",
            "entity_detail": "Builder (Finance)",
            "education_entity": "University of California, Berkeley",
            "education_detail": null,
            "location": "San Francisco, US",
            "linkedin_url": "https://www.linkedin.com/in/sarahchen329"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "DLx Law",
            "entity_detail": null,
            "education_entity": "Columbia University School of Law",
            "education_detail": null,
            "location": "New York, US",
            "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx"
          },
          {
            "full_name": "Fangyuan Sarah Chen",
            "entity_title": "Google",
            "entity_detail": "Staff Software Engineer",
            "education_entity": null,
            "education_detail": null,
            "location": "Santa Clara, US",
            "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169"
          },
          {
            "full_name": "Sarah Chen",
            "entity_title": "Datadog",
            "entity_detail": "Software Engineer",
            "education_entity": "Carnegie Mellon University",
            "education_detail": "Computer Science",
            "location": "New York, US",
            "linkedin_url": "https://www.linkedin.com/in/sarahchen6"
          }
        ],
        "usage": {
          "inputTokens": 3195,
          "outputTokens": 855,
          "promptTokens": 3195,
          "completionTokens": 855,
          "totalTokens": 4050,
          "reasoningTokens": 0,
          "cachedInputTokens": 0
        },
        "uuid": "d5002f03-b957-4435-a17d-314e183e19dd"
      }
    ],
    "parse-location-data": [
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
        "linkedin_profile_id": "sarahchenglobal",
        "full_name": "Sarah Chen-Spellings",
        "headline": null,
        "company_name": "Beyond The Billion",
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
        "linkedin_profile_id": "sarahchen22",
        "full_name": "Sarah Chen",
        "headline": "Researcher and Game Designer",
        "company_name": "University of Oxford",
        "location_city": "Claremont",
        "location_country": "US",
        "education": "University of Oxford"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
        "linkedin_profile_id": "chen-sarah",
        "full_name": "Sarah Chen",
        "headline": "Financial Analyst",
        "company_name": "Microsoft",
        "location_city": "Redmond",
        "location_country": "US",
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
        "linkedin_profile_id": "sarah-chen-276a1617",
        "full_name": "Sarah Chen",
        "headline": "Actuary",
        "company_name": null,
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
        "linkedin_profile_id": "sarahpchen",
        "full_name": "Sarah Chen",
        "headline": "Product & Strategy Leader",
        "company_name": "Maven",
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
        "linkedin_profile_id": "sarahchen329",
        "full_name": "Sarah Chen",
        "headline": "Builder (Finance)",
        "company_name": "Reevo",
        "location_city": "San Francisco",
        "location_country": "US",
        "education": "University of California, Berkeley"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
        "linkedin_profile_id": "sarah-chen-143dlx",
        "full_name": "Sarah Chen",
        "headline": null,
        "company_name": "DLx Law",
        "location_city": "New York",
        "location_country": "US",
        "education": "Columbia University School of Law"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
        "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
        "full_name": "Fangyuan Sarah Chen",
        "headline": "Staff Software Engineer",
        "company_name": "Google",
        "location_city": "Santa Clara",
        "location_country": "US",
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
        "linkedin_profile_id": "sarahchen6",
        "full_name": "Sarah Chen",
        "headline": "Software Engineer",
        "company_name": "Datadog",
        "location_city": "New York",
        "location_country": "US",
        "education": "Carnegie Mellon University"
      }
    ],
    "limit-candidates": [
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
        "linkedin_profile_id": "sarahchenglobal",
        "full_name": "Sarah Chen-Spellings",
        "headline": null,
        "company_name": "Beyond The Billion",
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
        "linkedin_profile_id": "sarahchen22",
        "full_name": "Sarah Chen",
        "headline": "Researcher and Game Designer",
        "company_name": "University of Oxford",
        "location_city": "Claremont",
        "location_country": "US",
        "education": "University of Oxford"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
        "linkedin_profile_id": "chen-sarah",
        "full_name": "Sarah Chen",
        "headline": "Financial Analyst",
        "company_name": "Microsoft",
        "location_city": "Redmond",
        "location_country": "US",
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
        "linkedin_profile_id": "sarah-chen-276a1617",
        "full_name": "Sarah Chen",
        "headline": "Actuary",
        "company_name": null,
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
        "linkedin_profile_id": "sarahpchen",
        "full_name": "Sarah Chen",
        "headline": "Product & Strategy Leader",
        "company_name": "Maven",
        "location_city": null,
        "location_country": null,
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
        "linkedin_profile_id": "sarahchen329",
        "full_name": "Sarah Chen",
        "headline": "Builder (Finance)",
        "company_name": "Reevo",
        "location_city": "San Francisco",
        "location_country": "US",
        "education": "University of California, Berkeley"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
        "linkedin_profile_id": "sarah-chen-143dlx",
        "full_name": "Sarah Chen",
        "headline": null,
        "company_name": "DLx Law",
        "location_city": "New York",
        "location_country": "US",
        "education": "Columbia University School of Law"
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
        "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
        "full_name": "Fangyuan Sarah Chen",
        "headline": "Staff Software Engineer",
        "company_name": "Google",
        "location_city": "Santa Clara",
        "location_country": "US",
        "education": null
      },
      {
        "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
        "linkedin_profile_id": "sarahchen6",
        "full_name": "Sarah Chen",
        "headline": "Software Engineer",
        "company_name": "Datadog",
        "location_city": "New York",
        "location_country": "US",
        "education": "Carnegie Mellon University"
      }
    ],
    "normalize-response": [
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      }
    ],
    "respond-200-success": [
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      },
      {
        "status": "success",
        "data": {
          "candidates": [
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchenglobal",
              "linkedin_profile_id": "sarahchenglobal",
              "full_name": "Sarah Chen-Spellings",
              "headline": null,
              "company_name": "Beyond The Billion",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen22",
              "linkedin_profile_id": "sarahchen22",
              "full_name": "Sarah Chen",
              "headline": "Researcher and Game Designer",
              "company_name": "University of Oxford",
              "location_city": "Claremont",
              "location_country": "US",
              "education": "University of Oxford"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/chen-sarah",
              "linkedin_profile_id": "chen-sarah",
              "full_name": "Sarah Chen",
              "headline": "Financial Analyst",
              "company_name": "Microsoft",
              "location_city": "Redmond",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-276a1617",
              "linkedin_profile_id": "sarah-chen-276a1617",
              "full_name": "Sarah Chen",
              "headline": "Actuary",
              "company_name": null,
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahpchen",
              "linkedin_profile_id": "sarahpchen",
              "full_name": "Sarah Chen",
              "headline": "Product & Strategy Leader",
              "company_name": "Maven",
              "location_city": null,
              "location_country": null,
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen329",
              "linkedin_profile_id": "sarahchen329",
              "full_name": "Sarah Chen",
              "headline": "Builder (Finance)",
              "company_name": "Reevo",
              "location_city": "San Francisco",
              "location_country": "US",
              "education": "University of California, Berkeley"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarah-chen-143dlx",
              "linkedin_profile_id": "sarah-chen-143dlx",
              "full_name": "Sarah Chen",
              "headline": null,
              "company_name": "DLx Law",
              "location_city": "New York",
              "location_country": "US",
              "education": "Columbia University School of Law"
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/fangyuan-sarah-chen-75a47169",
              "linkedin_profile_id": "fangyuan-sarah-chen-75a47169",
              "full_name": "Fangyuan Sarah Chen",
              "headline": "Staff Software Engineer",
              "company_name": "Google",
              "location_city": "Santa Clara",
              "location_country": "US",
              "education": null
            },
            {
              "linkedin_url": "https://www.linkedin.com/in/sarahchen6",
              "linkedin_profile_id": "sarahchen6",
              "full_name": "Sarah Chen",
              "headline": "Software Engineer",
              "company_name": "Datadog",
              "location_city": "New York",
              "location_country": "US",
              "education": "Carnegie Mellon University"
            }
          ]
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d660c8d1ec82335c55c8ab9e582b0038fa983ea7127f17cbb5c7a54c713aa590"
  }
}