workflows/09-mem0-outbox-sync-schedule.json
{
  "name": "[09] [schedule] [mem0] [outbox sync]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "schedule-mem0-sync",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/fetch_pending_mem0_sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"batch_limit\": 50 }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "fetch-pending-items",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole123",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "empty-check-1",
              "leftValue": "={{ $json }}",
              "operator": {
                "operation": "empty",
                "type": "array"
              },
              "rightValue": ""
            },
            {
              "id": "empty-check-2",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "operator": {
                "operation": "equals",
                "type": "number"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "check-empty-batch",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "no-operation-exit",
      "position": [
        750,
        -200
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "loop-sync-items",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "fact-exists-1",
              "leftValue": "={{ $json.profile_id }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "check-fact-exists",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory_sync_outbox?id=eq.{{ $json.outbox_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"sync_status\": \"failed\", \"provider_response\": { \"error\": \"ORPHANED_ENTITY\", \"message\": \"Referenced entity no longer exists\" } }",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "mark-outbox-orphan",
      "position": [
        1250,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole123",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\n// Build text content for Mem0\nconst memoryText = item.fact_detail \n  ? `${item.fact_title}: ${item.fact_detail}` \n  : item.fact_title;\n\n// Build metadata for semantic retrieval\nconst metadata = {\n  entity_type: item.entity_type,\n  entity_id: item.entity_id,\n  category: item.category_name || 'uncategorized',\n  source: 'aura_postgres'\n};\n\n// Calculate sync hash for change detection (simple hash)\nconst syncHash = memoryText.split('').reduce((hash, char) => {\n  return ((hash << 5) - hash) + char.charCodeAt(0) | 0;\n}, 0).toString(16);\n\nreturn {\n  json: {\n    outbox_id: item.outbox_id,\n    operation: item.operation,\n    profile_id: item.profile_id,\n    entity_type: item.entity_type,\n    entity_id: item.entity_id,\n    retry_count: item.retry_count || 0,\n    external_memory_id: item.external_memory_id || null,\n    mem0_payload: {\n      messages: [{ role: 'user', content: memoryText }],\n      user_id: item.profile_id,\n      metadata: metadata\n    },\n    sync_hash: syncHash,\n    payload_text: memoryText\n  }\n};"
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "build-mem0-payload",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "op-add",
                    "leftValue": "={{ $json.operation }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "add"
                  }
                ],
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "add"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "op-update",
                    "leftValue": "={{ $json.operation }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "update"
                  }
                ],
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "op-delete",
                    "leftValue": "={{ $json.operation }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "delete"
                  }
                ],
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                }
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "switch-operation",
      "position": [
        1500,
        0
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MEM0_BASE_URL || 'https://api.mem0.ai' }}/v1/memories/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.entity_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": {{ JSON.stringify($json.mem0_payload.messages) }},\n  \"user_id\": \"{{ $json.mem0_payload.user_id }}\",\n  \"metadata\": {{ JSON.stringify($json.mem0_payload.metadata) }},\n  \"output_format\": \"v1.1\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "http-mem0-add",
      "position": [
        1750,
        -150
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mem0ApiKey123",
          "name": "Mem0 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.MEM0_BASE_URL || 'https://api.mem0.ai' }}/v1/memories/{{ $json.external_memory_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.payload_text }}\",\n  \"metadata\": {{ JSON.stringify($json.mem0_payload.metadata) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "http-mem0-update",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mem0ApiKey123",
          "name": "Mem0 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.MEM0_BASE_URL || 'https://api.mem0.ai' }}/v1/memories/{{ $json.external_memory_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "http-mem0-delete",
      "position": [
        1750,
        150
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mem0ApiKey123",
          "name": "Mem0 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst error = item.error || {};\nconst statusCode = error.httpCode || error.statusCode || 500;\n\n// Error classification\nconst RETRYABLE_STATUS = [408, 429, 500, 502, 503, 504];\nconst FATAL_STATUS = [400, 401, 403, 404];\n\nconst RETRYABLE_CODES = ['rate_limit', 'timeout', 'server_error', 'service_unavailable', 'connection_error'];\nconst FATAL_CODES = ['invalid_api_key', 'project_not_found', 'invalid_request', 'quota_exceeded', 'unauthorized'];\n\n// Determine if retryable\nconst errorCode = (error.code || '').toLowerCase();\nconst isRetryableStatus = RETRYABLE_STATUS.includes(statusCode);\nconst isRetryableCode = RETRYABLE_CODES.some(code => errorCode.includes(code));\nconst isFatalCode = FATAL_CODES.some(code => errorCode.includes(code));\n\nconst isRetryable = (isRetryableStatus || isRetryableCode) && !isFatalCode;\n\n// Get original payload data\nconst originalPayload = $('build-mem0-payload').item.json;\nconst currentRetryCount = originalPayload.retry_count || 0;\nconst exceedsRetryLimit = currentRetryCount + 1 >= 5;\n\n// Determine final status\nlet syncStatus;\nif (isFatalCode || exceedsRetryLimit) {\n  syncStatus = 'failed';\n} else if (isRetryable) {\n  syncStatus = 'retry';\n} else {\n  syncStatus = 'failed';\n}\n\nreturn {\n  json: {\n    outbox_id: originalPayload.outbox_id,\n    entity_type: originalPayload.entity_type,\n    entity_id: originalPayload.entity_id,\n    retry_count: currentRetryCount,\n    error_classification: {\n      status_code: statusCode,\n      error_code: errorCode,\n      is_retryable: isRetryable,\n      exceeds_retry_limit: exceedsRetryLimit,\n      sync_status: syncStatus\n    },\n    error: error\n  }\n};"
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "classify-error",
      "position": [
        2000,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst retryCount = (item.retry_count || 0) + 1;\nconst classification = item.error_classification;\n\n// Exponential backoff: POWER(2, retry_count) * 30 seconds\nconst backoffSeconds = Math.pow(2, retryCount - 1) * 30;\nconst nextRetryAt = classification.sync_status === 'retry' \n  ? new Date(Date.now() + backoffSeconds * 1000).toISOString() \n  : null;\n\nreturn {\n  json: {\n    outbox_id: item.outbox_id,\n    retry_count: retryCount,\n    next_retry_at: nextRetryAt,\n    sync_status: classification.sync_status,\n    provider_response: {\n      error: item.error,\n      classification: classification,\n      backoff_seconds: backoffSeconds\n    }\n  }\n};"
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "calculate-backoff",
      "position": [
        2250,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory_sync_outbox?id=eq.{{ $json.outbox_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"retry_count\": {{ $json.retry_count }},\n  \"next_retry_at\": {{ $json.next_retry_at ? '\"' + $json.next_retry_at + '\"' : 'null' }},\n  \"sync_status\": \"{{ $json.sync_status }}\",\n  \"provider_response\": {{ JSON.stringify($json.provider_response) }}\n}",
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "update-outbox-retry",
      "position": [
        2500,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole123",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory_sync_outbox?id=eq.{{ $('build-mem0-payload').item.json.outbox_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sync_status\": \"synced\",\n  \"external_memory_id\": \"{{ $json.results ? $json.results[0].id : $json.id }}\",\n  \"synced_at\": \"{{ new Date().toISOString() }}\",\n  \"provider_response\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "update-outbox-success",
      "position": [
        2000,
        -150
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole123",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/memory_graph_mapping",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_type\": \"{{ $('build-mem0-payload').item.json.entity_type }}\",\n  \"entity_id\": \"{{ $('build-mem0-payload').item.json.entity_id }}\",\n  \"profile_id\": \"{{ $('build-mem0-payload').item.json.profile_id }}\",\n  \"external_memory_id\": \"{{ $json.results ? $json.results[0].id : $json.id }}\",\n  \"external_project_id\": \"{{ $env.MEM0_PROJECT_ID }}\",\n  \"sync_hash\": \"{{ $('build-mem0-payload').item.json.sync_hash }}\",\n  \"last_synced_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "upsert-mapping",
      "position": [
        2250,
        -150
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabaseServiceRole123",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "f8a9b0c1-d2e3-4f4a-5b6c-7d8e9f0a1b2c",
      "name": "merge-results",
      "position": [
        2750,
        0
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log execution summary\nconst allItems = $input.all();\nconst timestamp = new Date().toISOString();\n\nconst summary = {\n  workflow_type: 'mem0_sync',\n  items_processed: allItems.length,\n  timestamp: timestamp,\n  execution_id: $execution.id\n};\n\nreturn [{ json: summary }];"
      },
      "id": "a9b0c1d2-e3f4-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "log-execution",
      "position": [
        3000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "b0c1d2e3-f4a5-4b6c-7d8e-9f0a1b2c3d4e",
      "name": "merge-mem0-responses",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "merge-errors",
      "position": [
        2000,
        450
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    }
  ],
  "connections": {
    "schedule-mem0-sync": {
      "main": [
        [
          {
            "node": "fetch-pending-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-pending-items": {
      "main": [
        [
          {
            "node": "check-empty-batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "no-operation-exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-empty-batch": {
      "main": [
        [
          {
            "node": "no-operation-exit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "loop-sync-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-sync-items": {
      "main": [
        [
          {
            "node": "check-fact-exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-fact-exists": {
      "main": [
        [
          {
            "node": "build-mem0-payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mark-outbox-orphan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark-outbox-orphan": {
      "main": [
        [
          {
            "node": "loop-sync-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-mem0-payload": {
      "main": [
        [
          {
            "node": "switch-operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch-operation": {
      "main": [
        [
          {
            "node": "http-mem0-add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http-mem0-update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http-mem0-delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "http-mem0-add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http-mem0-add": {
      "main": [
        [
          {
            "node": "update-outbox-success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge-errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "http-mem0-update": {
      "main": [
        [
          {
            "node": "merge-mem0-responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "merge-errors",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "http-mem0-delete": {
      "main": [
        [
          {
            "node": "merge-mem0-responses",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "merge-errors",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "merge-mem0-responses": {
      "main": [
        [
          {
            "node": "update-outbox-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge-errors": {
      "main": [
        [
          {
            "node": "classify-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classify-error": {
      "main": [
        [
          {
            "node": "calculate-backoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate-backoff": {
      "main": [
        [
          {
            "node": "update-outbox-retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-outbox-retry": {
      "main": [
        [
          {
            "node": "loop-sync-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-outbox-success": {
      "main": [
        [
          {
            "node": "upsert-mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert-mapping": {
      "main": [
        [
          {
            "node": "loop-sync-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge-results": {
      "main": [
        [
          {
            "node": "log-execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "schedule-mem0-sync": [
      {
        "json": {
          "timestamp": "2024-11-26T13:05:00.000Z"
        }
      }
    ],
    "fetch-pending-items": [
      {
        "json": {
          "outbox_id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "entity_type": "fact",
          "entity_id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
          "operation": "add",
          "payload": {
            "text": "Led payments migration reducing latency by 40%",
            "metadata": {
              "category": "impact_achievement"
            }
          },
          "retry_count": 0,
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "fact_title": "Led payments migration reducing latency by 40%",
          "fact_detail": "At Stripe, led the migration of the core payments processing pipeline to a new architecture, resulting in a 40% reduction in p99 latency and 99.99% uptime.",
          "category_name": "impact_achievement"
        }
      },
      {
        "json": {
          "outbox_id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
          "entity_type": "fact",
          "entity_id": "f2b3c4d5-e6f7-5a8b-9c0d-1e2f3a4b5c6d",
          "operation": "add",
          "payload": {
            "text": "Prefers 5-10 person teams with flat hierarchy",
            "metadata": {
              "category": "working_identity"
            }
          },
          "retry_count": 0,
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "fact_title": "Prefers 5-10 person teams with flat hierarchy",
          "fact_detail": "Works best in small, agile teams of 5-10 people with minimal management layers and direct access to leadership.",
          "category_name": "working_identity"
        }
      },
      {
        "json": {
          "outbox_id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
          "entity_type": "fact",
          "entity_id": "f3c4d5e6-f7a8-6b9c-0d1e-2f3a4b5c6d7e",
          "operation": "update",
          "payload": {
            "text": "5+ years experience with TypeScript and Node.js",
            "metadata": {
              "category": "operational_excellence"
            }
          },
          "retry_count": 1,
          "external_memory_id": "mem_01H7ZK4Q7A9G8J5L6M0N",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "fact_title": "5+ years experience with TypeScript and Node.js",
          "fact_detail": "Deep expertise in TypeScript and Node.js ecosystems, including building production microservices, CLIs, and full-stack applications.",
          "category_name": "operational_excellence"
        }
      }
    ],
    "check-empty-batch": [
      {
        "json": {
          "outbox_id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "entity_type": "fact",
          "entity_id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
          "operation": "add",
          "retry_count": 0,
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "fact_title": "Led payments migration reducing latency by 40%",
          "fact_detail": "At Stripe, led the migration of the core payments processing pipeline to a new architecture.",
          "category_name": "impact_achievement"
        }
      }
    ],
    "build-mem0-payload": [
      {
        "json": {
          "outbox_id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "operation": "add",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "entity_type": "fact",
          "entity_id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
          "retry_count": 0,
          "external_memory_id": null,
          "mem0_payload": {
            "messages": [
              {
                "role": "user",
                "content": "Led payments migration reducing latency by 40%: At Stripe, led the migration of the core payments processing pipeline to a new architecture, resulting in a 40% reduction in p99 latency and 99.99% uptime."
              }
            ],
            "user_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
            "metadata": {
              "entity_type": "fact",
              "entity_id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "category": "impact_achievement",
              "source": "aura_postgres"
            }
          },
          "sync_hash": "a3f2c1b4",
          "payload_text": "Led payments migration reducing latency by 40%: At Stripe, led the migration of the core payments processing pipeline to a new architecture, resulting in a 40% reduction in p99 latency and 99.99% uptime."
        }
      }
    ],
    "http-mem0-add": [
      {
        "json": {
          "results": [
            {
              "id": "mem_01JF8ZS4Y0R0SPM13R5R6H32CJ",
              "event": "ADD",
              "data": {
                "memory": "Led payments migration reducing latency by 40% at Stripe, resulting in improved p99 latency and high uptime."
              }
            }
          ]
        }
      }
    ],
    "http-mem0-update": [
      {
        "json": {
          "id": "mem_01H7ZK4Q7A9G8J5L6M0N",
          "entity_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "content": "5+ years experience with TypeScript and Node.js: Deep expertise in TypeScript and Node.js ecosystems.",
          "metadata": {
            "entity_type": "fact",
            "category": "operational_excellence",
            "source": "aura_postgres"
          },
          "updated_at": "2024-11-26T13:05:45.789Z"
        }
      }
    ],
    "http-mem0-delete": [
      {
        "json": {
          "deleted": true,
          "id": "mem_01H8AB9C2D3E4F5G6H7I"
        }
      }
    ],
    "update-outbox-success": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
          "sync_status": "synced",
          "external_memory_id": "mem_01JF8ZS4Y0R0SPM13R5R6H32CJ",
          "synced_at": "2024-11-26T13:05:45.000Z",
          "provider_response": {
            "results": [
              {
                "id": "mem_01JF8ZS4Y0R0SPM13R5R6H32CJ",
                "event": "ADD",
                "data": {
                  "memory": "Led payments migration reducing latency by 40%"
                }
              }
            ]
          }
        }
      }
    ],
    "upsert-mapping": [
      {
        "json": {
          "entity_type": "fact",
          "entity_id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "external_memory_id": "mem_01JF8ZS4Y0R0SPM13R5R6H32CJ",
          "external_project_id": "proj_aura_prod",
          "sync_hash": "a3f2c1b4",
          "last_synced_at": "2024-11-26T13:05:45.000Z"
        }
      }
    ],
    "classify-error": [
      {
        "json": {
          "outbox_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
          "entity_type": "fact",
          "entity_id": "f4d5e6f7-a8b9-7c0d-1e2f-3a4b5c6d7e8f",
          "retry_count": 2,
          "error_classification": {
            "status_code": 429,
            "error_code": "rate_limit",
            "is_retryable": true,
            "exceeds_retry_limit": false,
            "sync_status": "retry"
          },
          "error": {
            "httpCode": 429,
            "code": "rate_limit",
            "message": "Too many requests"
          }
        }
      }
    ],
    "calculate-backoff": [
      {
        "json": {
          "outbox_id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
          "retry_count": 3,
          "next_retry_at": "2024-11-26T13:07:45.000Z",
          "sync_status": "retry",
          "provider_response": {
            "error": {
              "httpCode": 429,
              "code": "rate_limit",
              "message": "Too many requests"
            },
            "classification": {
              "status_code": 429,
              "is_retryable": true,
              "sync_status": "retry"
            },
            "backoff_seconds": 120
          }
        }
      }
    ],
    "update-outbox-retry": [
      {
        "json": {
          "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
          "retry_count": 3,
          "next_retry_at": "2024-11-26T13:07:45.000Z",
          "sync_status": "retry",
          "provider_response": {
            "error": {
              "httpCode": 429,
              "code": "rate_limit"
            },
            "backoff_seconds": 120
          }
        }
      }
    ],
    "mark-outbox-orphan": [
      {
        "json": {
          "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
          "sync_status": "failed",
          "provider_response": {
            "error": "ORPHANED_ENTITY",
            "message": "Referenced entity no longer exists"
          }
        }
      }
    ],
    "log-execution": [
      {
        "json": {
          "workflow_type": "mem0_sync",
          "items_processed": 3,
          "timestamp": "2024-11-26T13:05:50.000Z",
          "execution_id": "exec_abc123xyz"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d660c8d1ec82335c55c8ab9e582b0038fa983ea7127f17cbb5c7a54c713aa590"
  }
}