workflows/10-mem0-webhook-receiver.json
{
  "name": "[10] [webhook] [mem0] [receiver]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/mem0-webhook",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "webhook-mem0-event",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "a1b2c3d4-0001-4000-8000-000000000002",
      "credentials": {
        "headerAuth": {
          "id": "internal-api-key-cred",
          "name": "Internal API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst eventDetails = input.body?.event_details;\n\n// Validate required fields\nif (!eventDetails?.id) {\n  throw new Error('Missing event_details.id');\n}\nif (!eventDetails?.event) {\n  throw new Error('Missing event_details.event');\n}\n\n// Map Mem0 event to our enum\nconst eventMap = {\n  'ADD': 'memory_add',\n  'UPDATE': 'memory_update',\n  'DELETE': 'memory_delete'\n};\nconst eventType = eventMap[eventDetails.event];\nif (!eventType) {\n  throw new Error(`Invalid event type: ${eventDetails.event}`);\n}\n\nreturn {\n  json: {\n    external_event_id: eventDetails.id,\n    external_memory_id: eventDetails.id,\n    event_type: eventType,\n    memory_content: eventDetails.data?.memory || null,\n    raw_payload: input.body,\n    event_timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "validate-payload",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid payload\", \"code\": \"VALIDATION_ERROR\", \"message\": $json.message } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "respond-400-validation",
      "position": [
        500,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase query: SELECT id FROM core.memory_webhook_event WHERE external_event_id = :event_id\nconst externalEventId = $input.item.json.external_event_id;\n\n// In production, this would be a real Supabase query\n// For workflow testing, we simulate no duplicate found\nreturn {\n  json: {\n    ...$input.item.json,\n    duplicate_check: {\n      id: null  // null means no duplicate found\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "check-duplicate",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-new-event",
              "leftValue": "={{ $json.duplicate_check?.id }}",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "filter-new-events",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"duplicate\", \"message\": \"Event already processed\", \"external_event_id\": $('validate-payload').item.json.external_event_id } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "respond-200-duplicate",
      "position": [
        1000,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase query: SELECT entity_id, entity_type, profile_id, sync_hash FROM core.memory_graph_mapping WHERE external_memory_id = :memory_id\nconst externalMemoryId = $input.item.json.external_memory_id;\n\n// In production, this would be a real Supabase query\n// For workflow testing, we simulate a found mapping\nreturn {\n  json: {\n    ...$input.item.json,\n    mapping: {\n      id: 'mapping-uuid-001',\n      entity_type: 'fact',\n      entity_id: 'fact-uuid-001',\n      profile_id: 'profile-uuid-001',\n      sync_hash: 'abc123hash'\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "lookup-mapping",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-has-mapping",
              "leftValue": "={{ $json.mapping?.entity_id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            },
            {
              "id": "condition-is-update",
              "leftValue": "={{ $json.event_type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "memory_update"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "check-needs-fact-lookup",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase query: SELECT id, fact_detail FROM core.fact WHERE id = :entity_id\nconst entityId = $input.item.json.mapping?.entity_id;\n\n// In production, this would be a real Supabase query\n// For workflow testing, we simulate a found fact\nreturn {\n  json: {\n    ...$input.item.json,\n    local_fact: {\n      id: entityId,\n      fact_detail: 'Senior Engineer at Stripe for 5 years'\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "fetch-local-fact",
      "position": [
        1500,
        -100
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const validated = $input.item.json;\nconst mapping = validated.mapping;\nconst eventType = validated.event_type;\nconst memoryContent = validated.memory_content;\n\nlet processing_action;\nlet processing_notes;\nlet resolved_entity_id = null;\nlet resolved_entity_type = null;\nlet profile_id = null;\n\n// Check if we have a mapping (memory originated from us)\nif (!mapping || !mapping.entity_id) {\n  // Memory not in our mapping \u2192 external change\n  processing_action = 'external_change';\n  processing_notes = 'Memory not found in mapping table - originated outside our system';\n} else {\n  // We have a mapping\n  resolved_entity_id = mapping.entity_id;\n  resolved_entity_type = mapping.entity_type;\n  profile_id = mapping.profile_id;\n  \n  if (eventType === 'memory_update') {\n    // For updates, check for conflict\n    const localFact = validated.local_fact;\n    const localContent = localFact?.fact_detail || '';\n    \n    // Normalize for comparison (trim whitespace)\n    const normalizedLocal = localContent.trim();\n    const normalizedMem0 = (memoryContent || '').trim();\n    \n    if (normalizedLocal === normalizedMem0) {\n      processing_action = 'confirmed';\n      processing_notes = 'Memory content matches local fact';\n    } else if (!normalizedMem0) {\n      processing_action = 'confirmed';\n      processing_notes = 'Memory update confirmed (no content in webhook)';\n    } else {\n      processing_action = 'conflict';\n      processing_notes = `Content differs: local=\"${normalizedLocal.substring(0, 50)}...\" vs mem0=\"${normalizedMem0.substring(0, 50)}...\"`;\n    }\n  } else {\n    // memory_add or memory_delete with mapping = confirmed\n    processing_action = 'confirmed';\n    processing_notes = `${eventType} confirmed via mapping`;\n  }\n}\n\nreturn {\n  json: {\n    external_event_id: validated.external_event_id,\n    external_memory_id: validated.external_memory_id,\n    event_type: eventType,\n    memory_content: memoryContent,\n    raw_payload: validated.raw_payload,\n    event_timestamp: validated.event_timestamp,\n    processing_action,\n    processing_notes,\n    resolved_entity_id,\n    resolved_entity_type,\n    profile_id,\n    processed: true,\n    processed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "determine-action",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase INSERT INTO core.memory_webhook_event\n// ON CONFLICT (external_event_id) DO NOTHING\nconst data = $input.item.json;\n\n// In production, this would insert to Supabase\n// For workflow testing, we simulate successful insert\nreturn {\n  json: {\n    ...data,\n    insert_result: {\n      success: true,\n      id: 'inserted-event-uuid-001'\n    }\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "insert-webhook-event",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"processed\", \"external_event_id\": $json.external_event_id, \"processing_action\": $json.processing_action } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "respond-200-success",
      "position": [
        2250,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Processing failed\", \"code\": \"PROCESSING_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "respond-500-error",
      "position": [
        2250,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-mem0-event": {
      "main": [
        [
          {
            "node": "validate-payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-payload": {
      "main": [
        [
          {
            "node": "check-duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-duplicate": {
      "main": [
        [
          {
            "node": "filter-new-events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter-new-events": {
      "main": [
        [
          {
            "node": "lookup-mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-200-duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup-mapping": {
      "main": [
        [
          {
            "node": "check-needs-fact-lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-needs-fact-lookup": {
      "main": [
        [
          {
            "node": "fetch-local-fact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "determine-action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-local-fact": {
      "main": [
        [
          {
            "node": "determine-action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "determine-action": {
      "main": [
        [
          {
            "node": "insert-webhook-event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-webhook-event": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {
    "webhook-mem0-event": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "user-agent": "Mem0-Webhook/1.0",
          "content-length": "156",
          "accept": "*/*",
          "content-type": "application/json",
          "x-internal-key": "sk-internal-key-abc123",
          "x-forwarded-for": "52.44.132.86",
          "x-forwarded-host": "aura.zeogen.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "webhookUrl": "https://aura.zeogen.com/v1/internal/mem0-webhook",
        "executionMode": "test"
      }
    ],
    "validate-payload": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z"
      }
    ],
    "check-duplicate": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "duplicate_check": {
          "id": null
        }
      }
    ],
    "filter-new-events": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "duplicate_check": {
          "id": null
        }
      }
    ],
    "lookup-mapping": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "duplicate_check": {
          "id": null
        },
        "mapping": {
          "id": "mapping-uuid-001",
          "entity_type": "fact",
          "entity_id": "fact-uuid-001",
          "profile_id": "profile-uuid-001",
          "sync_hash": "abc123hash"
        }
      }
    ],
    "check-needs-fact-lookup": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "duplicate_check": {
          "id": null
        },
        "mapping": {
          "id": "mapping-uuid-001",
          "entity_type": "fact",
          "entity_id": "fact-uuid-001",
          "profile_id": "profile-uuid-001",
          "sync_hash": "abc123hash"
        }
      }
    ],
    "determine-action": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "processing_action": "confirmed",
        "processing_notes": "memory_add confirmed via mapping",
        "resolved_entity_id": "fact-uuid-001",
        "resolved_entity_type": "fact",
        "profile_id": "profile-uuid-001",
        "processed": true,
        "processed_at": "2025-11-26T13:00:01.000Z"
      }
    ],
    "insert-webhook-event": [
      {
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "external_memory_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "event_type": "memory_add",
        "memory_content": "Senior Engineer at Stripe for 5 years",
        "raw_payload": {
          "event_details": {
            "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "data": {
              "memory": "Senior Engineer at Stripe for 5 years"
            },
            "event": "ADD"
          }
        },
        "event_timestamp": "2025-11-26T13:00:00.000Z",
        "processing_action": "confirmed",
        "processing_notes": "memory_add confirmed via mapping",
        "resolved_entity_id": "fact-uuid-001",
        "resolved_entity_type": "fact",
        "profile_id": "profile-uuid-001",
        "processed": true,
        "processed_at": "2025-11-26T13:00:01.000Z",
        "insert_result": {
          "success": true,
          "id": "inserted-event-uuid-001"
        }
      }
    ],
    "respond-200-success": [
      {
        "status": "processed",
        "external_event_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
        "processing_action": "confirmed"
      }
    ]
  },
  "tags": []
}