workflows/11-job-scrape-webhook-apify.json
{
  "name": "[11] [webhook] [job] [scrape apify]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/job-scrape/apify-webhook",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "webhook-apify-completion",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-webhook-cred",
          "name": "Apify Webhook Secret"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Validate dispatch ID (idempotency key)\nconst dispatchId = input.headers?.['x-apify-webhook-dispatch-id'];\nif (!dispatchId) {\n  throw new Error('Missing X-Apify-Webhook-Dispatch-Id header');\n}\n\n// Validate payload structure\nconst { eventType, eventData, resource } = input.body || {};\nif (!eventType || !eventData?.actorRunId) {\n  throw new Error('Invalid payload: missing eventType or actorRunId');\n}\n\nreturn [{\n  json: {\n    dispatchId,\n    eventType,\n    actorRunId: eventData.actorRunId,\n    datasetId: resource?.defaultDatasetId,\n    costUsd: resource?.usageTotalUsd,\n    statusMessage: resource?.statusMessage,\n    rawPayload: input.body\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "validate-webhook-payload",
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Invalid webhook payload\", \"code\": \"INVALID_PAYLOAD\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "respond-400-invalid",
      "position": [
        220,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "job.scrape_webhook_event",
        "filterType": "string",
        "filterString": "={{ 'provider=eq.apify,provider_dispatch_id=eq.' + $json.dispatchId }}",
        "returnAll": false,
        "limit": 1,
        "useCustomSchema": true
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "check-idempotency",
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-duplicate-exists",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "check-is-duplicate",
      "position": [
        660,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"received\": true, \"duplicate\": true, \"message\": \"Webhook already processed\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "respond-200-duplicate",
      "position": [
        660,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "job.scrape_webhook_event",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "provider",
              "fieldValue": "apify"
            },
            {
              "fieldName": "provider_dispatch_id",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.dispatchId }}"
            },
            {
              "fieldName": "event_type",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.eventType }}"
            },
            {
              "fieldName": "event_timestamp",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "raw_payload",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.rawPayload }}"
            },
            {
              "fieldName": "is_processed",
              "fieldValue": "false"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "insert-webhook-event",
      "position": [
        880,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "job.scrape_run",
        "filterType": "string",
        "filterString": "={{ 'provider_run_id=eq.' + $('validate-webhook-payload').item.json.actorRunId }}",
        "returnAll": false,
        "limit": 1,
        "useCustomSchema": true
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "resolve-scrape-run",
      "position": [
        1100,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job.scrape_run",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $json.id }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "run_status",
              "fieldValue": "={{ {'ACTOR.RUN.SUCCEEDED':'succeeded','ACTOR.RUN.FAILED':'failed','ACTOR.RUN.TIMED_OUT':'timeout','ACTOR.RUN.ABORTED':'cancelled'}[$('validate-webhook-payload').item.json.eventType] || 'running' }}"
            },
            {
              "fieldName": "result_location",
              "fieldValue": "={{ 'apify://datasets/' + $('validate-webhook-payload').item.json.datasetId }}"
            },
            {
              "fieldName": "cost_usd",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.costUsd }}"
            },
            {
              "fieldName": "error_message",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.statusMessage }}"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "update-scrape-run-status",
      "position": [
        1320,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-succeeded",
              "leftValue": "={{ $('validate-webhook-payload').item.json.eventType }}",
              "rightValue": "ACTOR.RUN.SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "check-event-succeeded",
      "position": [
        1540,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job.scrape_webhook_event",
        "filterType": "string",
        "filterString": "={{ 'provider_dispatch_id=eq.' + $('validate-webhook-payload').item.json.dispatchId }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "is_processed",
              "fieldValue": "true"
            },
            {
              "fieldName": "processed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "processing_result",
              "fieldValue": "={{ $('validate-webhook-payload').item.json.eventType.split('.').pop().toLowerCase() }}"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "mark-event-processed-status",
      "position": [
        1760,
        200
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"status\": $('validate-webhook-payload').item.json.eventType, \"postings_ingested\": 0 } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c",
      "name": "respond-200-status-only",
      "position": [
        1980,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.apify.com/v2/datasets/' + $('validate-webhook-payload').item.json.datasetId + '/items' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "fetch-apify-dataset",
      "position": [
        1760,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpQueryAuth": {
          "id": "apify-api-cred",
          "name": "Apify API Token"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Failed to fetch dataset from Apify\", \"code\": \"DATASET_FETCH_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "respond-500-fetch-error",
      "position": [
        1760,
        -200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-results-exist",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "check-has-results",
      "position": [
        1980,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job.scrape_webhook_event",
        "filterType": "string",
        "filterString": "={{ 'provider_dispatch_id=eq.' + $('validate-webhook-payload').item.json.dispatchId }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "is_processed",
              "fieldValue": "true"
            },
            {
              "fieldName": "processed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "processing_result",
              "fieldValue": "empty_dataset"
            },
            {
              "fieldName": "postings_ingested",
              "fieldValue": "0"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "mark-event-no-results",
      "position": [
        2200,
        200
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"received\": true, \"status\": \"SUCCEEDED\", \"postings_ingested\": 0 }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "respond-200-empty",
      "position": [
        2420,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {
          "reset": true
        }
      },
      "id": "f8a9b0c1-d2e3-4f4a-5b6c-7d8e9f0a1b2c",
      "name": "loop-job-items",
      "position": [
        2200,
        0
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// SHA256 hash function using Web Crypto API\nasync function sha256(text) {\n  const encoder = new TextEncoder();\n  const data = encoder.encode(text);\n  const hashBuffer = await crypto.subtle.digest('SHA-256', data);\n  return Array.from(new Uint8Array(hashBuffer))\n    .map(b => b.toString(16).padStart(2, '0')).join('');\n}\n\n// Normalize different Apify actor output schemas\nfunction normalizeJob(raw) {\n  return {\n    title: raw.title || raw.jobTitle || raw.position || 'Unknown',\n    companyName: raw.company || raw.companyName || raw.employer || 'Unknown',\n    companyUrl: raw.companyUrl || raw.companyWebsite || null,\n    location: raw.location || raw.jobLocation || null,\n    description: raw.description || raw.jobDescription || raw.descriptionHtml || '',\n    url: raw.url || raw.jobUrl || raw.link || raw.applyUrl,\n    externalId: raw.jobId || raw.id || raw.externalId || null,\n    postedAt: raw.postedAt || raw.datePosted || raw.publishedAt || null,\n    htmlContent: raw.descriptionHtml || raw.htmlContent || null,\n    salaryMin: raw.salaryMin || raw.salary?.min || null,\n    salaryMax: raw.salaryMax || raw.salary?.max || null,\n  };\n}\n\n// Strip tracking params from URL for canonical hash\nfunction canonicalizeUrl(url) {\n  if (!url) return '';\n  try {\n    const parsed = new URL(url);\n    ['utm_source','utm_medium','utm_campaign','utm_term','utm_content','ref','source','trk'].forEach(p => \n      parsed.searchParams.delete(p)\n    );\n    return parsed.toString();\n  } catch { return url; }\n}\n\n// Get scrape_run context\nconst scrapeRunId = $('resolve-scrape-run').first().json?.id || null;\nconst sourcePlatform = $('resolve-scrape-run').first().json?.source_query?.target_platform || 'linkedin';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const raw = item.json;\n  const normalized = normalizeJob(raw);\n  \n  // Content hash: title + company + first 500 chars of description\n  const contentInput = `${normalized.title}|${normalized.companyName}|${(normalized.description || '').slice(0, 500)}`;\n  const contentHash = await sha256(contentInput);\n  \n  // URL hash: canonical URL without tracking params\n  const urlHash = await sha256(canonicalizeUrl(normalized.url));\n  \n  results.push({\n    json: {\n      scrape_run_id: scrapeRunId,\n      source_platform: sourcePlatform,\n      source_provider: 'apify',\n      external_url: normalized.url,\n      external_id: normalized.externalId,\n      html_content: normalized.htmlContent,\n      markdown_content: normalized.description,\n      raw_json: raw,\n      content_hash: contentHash,\n      url_hash: urlHash,\n      scraped_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a9b0c1d2-e3f4-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "normalize-and-hash-jobs",
      "position": [
        2420,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "job.posting_raw",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "scrape_run_id",
              "fieldValue": "={{ $json.scrape_run_id }}"
            },
            {
              "fieldName": "source_platform",
              "fieldValue": "={{ $json.source_platform }}"
            },
            {
              "fieldName": "source_provider",
              "fieldValue": "={{ $json.source_provider }}"
            },
            {
              "fieldName": "external_url",
              "fieldValue": "={{ $json.external_url }}"
            },
            {
              "fieldName": "external_id",
              "fieldValue": "={{ $json.external_id }}"
            },
            {
              "fieldName": "html_content",
              "fieldValue": "={{ $json.html_content }}"
            },
            {
              "fieldName": "markdown_content",
              "fieldValue": "={{ $json.markdown_content }}"
            },
            {
              "fieldName": "raw_json",
              "fieldValue": "={{ $json.raw_json }}"
            },
            {
              "fieldName": "content_hash",
              "fieldValue": "={{ $json.content_hash }}"
            },
            {
              "fieldName": "url_hash",
              "fieldValue": "={{ $json.url_hash }}"
            },
            {
              "fieldName": "scraped_at",
              "fieldValue": "={{ $json.scraped_at }}"
            }
          ]
        },
        "options": {
          "onConflict": "doNothing",
          "conflictTarget": "content_hash"
        },
        "useCustomSchema": true
      },
      "id": "b0c1d2e3-f4a5-4b6c-7d8e-9f0a1b2c3d4e",
      "name": "upsert-posting-raw",
      "position": [
        2640,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "aggregate-ingestion-results",
      "position": [
        2860,
        0
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job.scrape_run",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('resolve-scrape-run').item.json.id }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "raw_results_count",
              "fieldValue": "={{ $('fetch-apify-dataset').all().length }}"
            },
            {
              "fieldName": "postings_found",
              "fieldValue": "={{ $json.data ? $json.data.length : 0 }}"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "update-scrape-run-counts",
      "position": [
        3080,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "job.scrape_webhook_event",
        "filterType": "string",
        "filterString": "={{ 'provider_dispatch_id=eq.' + $('validate-webhook-payload').item.json.dispatchId }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "is_processed",
              "fieldValue": "true"
            },
            {
              "fieldName": "processed_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldName": "processing_result",
              "fieldValue": "ingested"
            },
            {
              "fieldName": "postings_ingested",
              "fieldValue": "={{ $('aggregate-ingestion-results').item.json.data ? $('aggregate-ingestion-results').item.json.data.length : 0 }}"
            },
            {
              "fieldName": "scrape_run_id",
              "fieldValue": "={{ $('resolve-scrape-run').item.json.id }}"
            }
          ]
        },
        "useCustomSchema": true
      },
      "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "mark-event-processed-success",
      "position": [
        3300,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"received\": true, \"status\": \"SUCCEEDED\", \"postings_ingested\": $('aggregate-ingestion-results').item.json.data ? $('aggregate-ingestion-results').item.json.data.length : 0, \"scrape_run_id\": $('resolve-scrape-run').item.json.id } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c",
      "name": "respond-200-success",
      "position": [
        3520,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-apify-completion": {
      "main": [
        [
          {
            "node": "validate-webhook-payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-webhook-payload": {
      "main": [
        [
          {
            "node": "check-idempotency",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-idempotency": {
      "main": [
        [
          {
            "node": "check-is-duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-is-duplicate": {
      "main": [
        [
          {
            "node": "respond-200-duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert-webhook-event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-webhook-event": {
      "main": [
        [
          {
            "node": "resolve-scrape-run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resolve-scrape-run": {
      "main": [
        [
          {
            "node": "update-scrape-run-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-scrape-run-status": {
      "main": [
        [
          {
            "node": "check-event-succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-event-succeeded": {
      "main": [
        [
          {
            "node": "fetch-apify-dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mark-event-processed-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark-event-processed-status": {
      "main": [
        [
          {
            "node": "respond-200-status-only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-apify-dataset": {
      "main": [
        [
          {
            "node": "check-has-results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-fetch-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-has-results": {
      "main": [
        [
          {
            "node": "loop-job-items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mark-event-no-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark-event-no-results": {
      "main": [
        [
          {
            "node": "respond-200-empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-job-items": {
      "main": [
        [
          {
            "node": "normalize-and-hash-jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aggregate-ingestion-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize-and-hash-jobs": {
      "main": [
        [
          {
            "node": "upsert-posting-raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert-posting-raw": {
      "main": [
        [
          {
            "node": "loop-job-items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate-ingestion-results": {
      "main": [
        [
          {
            "node": "update-scrape-run-counts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-scrape-run-counts": {
      "main": [
        [
          {
            "node": "mark-event-processed-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark-event-processed-success": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-apify-completion": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "content-type": "application/json",
          "x-apify-webhook-dispatch-id": "dispatch-abc123xyz",
          "x-apify-webhook-secret": "apify_secret_xyz789"
        },
        "params": {},
        "query": {},
        "body": {
          "eventType": "ACTOR.RUN.SUCCEEDED",
          "eventData": {
            "actorRunId": "run-xyz789def456"
          },
          "resource": {
            "defaultDatasetId": "dataset-job-posts-001",
            "usageTotalUsd": 0.45,
            "status": "SUCCEEDED",
            "statusMessage": null
          }
        },
        "webhookUrl": "https://aura.zeogen.com/v1/internal/job-scrape/apify-webhook",
        "executionMode": "test"
      }
    ],
    "validate-webhook-payload": [
      {
        "dispatchId": "dispatch-abc123xyz",
        "eventType": "ACTOR.RUN.SUCCEEDED",
        "actorRunId": "run-xyz789def456",
        "datasetId": "dataset-job-posts-001",
        "costUsd": 0.45,
        "statusMessage": null,
        "rawPayload": {
          "eventType": "ACTOR.RUN.SUCCEEDED",
          "eventData": {
            "actorRunId": "run-xyz789def456"
          },
          "resource": {
            "defaultDatasetId": "dataset-job-posts-001",
            "usageTotalUsd": 0.45,
            "status": "SUCCEEDED"
          }
        }
      }
    ],
    "check-idempotency": [
      {}
    ],
    "check-is-duplicate": [
      {}
    ],
    "insert-webhook-event": [
      {
        "id": "evt-12345678-abcd-ef01-2345-6789abcdef01",
        "provider": "apify",
        "provider_dispatch_id": "dispatch-abc123xyz",
        "event_type": "ACTOR.RUN.SUCCEEDED",
        "is_processed": false
      }
    ],
    "resolve-scrape-run": [
      {
        "id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "provider_run_id": "run-xyz789def456",
        "source_query": {
          "target_platform": "linkedin",
          "keywords": "software engineer",
          "location": "San Francisco"
        }
      }
    ],
    "update-scrape-run-status": [
      {
        "id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "run_status": "succeeded",
        "result_location": "apify://datasets/dataset-job-posts-001",
        "cost_usd": 0.45,
        "completed_at": "2024-11-26T13:30:00.000Z"
      }
    ],
    "check-event-succeeded": [
      {
        "id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "run_status": "succeeded"
      }
    ],
    "fetch-apify-dataset": [
      {
        "title": "Senior Software Engineer",
        "company": "Stripe",
        "companyUrl": "https://stripe.com",
        "location": "San Francisco, CA",
        "description": "Join Stripe's infrastructure team to build the next generation of payment systems. We're looking for engineers with 5+ years of experience in distributed systems, strong Python or Go skills, and a passion for reliability.\n\n**Requirements:**\n- 5+ years software engineering experience\n- Experience with distributed systems\n- Strong communication skills\n\n**Benefits:**\n- Competitive salary\n- Equity\n- Health insurance",
        "descriptionHtml": "<div><p>Join Stripe's infrastructure team...</p></div>",
        "url": "https://www.linkedin.com/jobs/view/3987654321",
        "jobId": "li-job-3987654321",
        "postedAt": "2024-11-20T10:00:00.000Z"
      },
      {
        "title": "Backend Engineer",
        "company": "Airbnb",
        "companyUrl": "https://airbnb.com",
        "location": "Remote, US",
        "description": "Airbnb is seeking a Backend Engineer to join our Payments team. You'll work on systems that process billions of dollars in transactions annually.",
        "descriptionHtml": "<div><p>Airbnb is seeking...</p></div>",
        "url": "https://www.linkedin.com/jobs/view/3987654322",
        "jobId": "li-job-3987654322",
        "postedAt": "2024-11-21T14:30:00.000Z"
      },
      {
        "title": "Full Stack Developer",
        "company": "Figma",
        "companyUrl": "https://figma.com",
        "location": "New York, NY",
        "description": "Help us build the future of collaborative design. Looking for engineers who love TypeScript and React.",
        "descriptionHtml": "<div><p>Help us build...</p></div>",
        "url": "https://www.linkedin.com/jobs/view/3987654323",
        "jobId": "li-job-3987654323",
        "postedAt": "2024-11-22T09:15:00.000Z"
      }
    ],
    "check-has-results": [
      {
        "title": "Senior Software Engineer",
        "company": "Stripe"
      }
    ],
    "loop-job-items": [
      {
        "title": "Senior Software Engineer",
        "company": "Stripe",
        "url": "https://www.linkedin.com/jobs/view/3987654321"
      }
    ],
    "normalize-and-hash-jobs": [
      {
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "source_platform": "linkedin",
        "source_provider": "apify",
        "external_url": "https://www.linkedin.com/jobs/view/3987654321",
        "external_id": "li-job-3987654321",
        "html_content": "<div><p>Join Stripe's infrastructure team...</p></div>",
        "markdown_content": "Join Stripe's infrastructure team to build the next generation of payment systems...",
        "raw_json": {
          "title": "Senior Software Engineer",
          "company": "Stripe",
          "location": "San Francisco, CA"
        },
        "content_hash": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2",
        "url_hash": "b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3",
        "scraped_at": "2024-11-26T13:30:15.000Z"
      },
      {
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "source_platform": "linkedin",
        "source_provider": "apify",
        "external_url": "https://www.linkedin.com/jobs/view/3987654322",
        "external_id": "li-job-3987654322",
        "html_content": "<div><p>Airbnb is seeking...</p></div>",
        "markdown_content": "Airbnb is seeking a Backend Engineer to join our Payments team...",
        "raw_json": {
          "title": "Backend Engineer",
          "company": "Airbnb",
          "location": "Remote, US"
        },
        "content_hash": "c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4",
        "url_hash": "d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5",
        "scraped_at": "2024-11-26T13:30:15.000Z"
      },
      {
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "source_platform": "linkedin",
        "source_provider": "apify",
        "external_url": "https://www.linkedin.com/jobs/view/3987654323",
        "external_id": "li-job-3987654323",
        "html_content": "<div><p>Help us build...</p></div>",
        "markdown_content": "Help us build the future of collaborative design...",
        "raw_json": {
          "title": "Full Stack Developer",
          "company": "Figma",
          "location": "New York, NY"
        },
        "content_hash": "e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6",
        "url_hash": "f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7",
        "scraped_at": "2024-11-26T13:30:15.000Z"
      }
    ],
    "upsert-posting-raw": [
      {
        "id": "posting-raw-001",
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "source_platform": "linkedin",
        "external_url": "https://www.linkedin.com/jobs/view/3987654321",
        "content_hash": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2"
      }
    ],
    "aggregate-ingestion-results": [
      {
        "data": [
          {
            "id": "posting-raw-001",
            "external_url": "https://www.linkedin.com/jobs/view/3987654321"
          },
          {
            "id": "posting-raw-002",
            "external_url": "https://www.linkedin.com/jobs/view/3987654322"
          },
          {
            "id": "posting-raw-003",
            "external_url": "https://www.linkedin.com/jobs/view/3987654323"
          }
        ]
      }
    ],
    "update-scrape-run-counts": [
      {
        "id": "run-87654321-dcba-10fe-5432-1fedcba98765",
        "raw_results_count": 3,
        "postings_found": 3
      }
    ],
    "mark-event-processed-success": [
      {
        "id": "evt-12345678-abcd-ef01-2345-6789abcdef01",
        "is_processed": true,
        "processing_result": "ingested",
        "postings_ingested": 3,
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765"
      }
    ],
    "respond-200-success": [
      {
        "received": true,
        "status": "SUCCEEDED",
        "postings_ingested": 3,
        "scrape_run_id": "run-87654321-dcba-10fe-5432-1fedcba98765"
      }
    ]
  },
  "settings": {},
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d660c8d1ec82335c55c8ab9e582b0038fa983ea7127f17cbb5c7a54c713aa590"
  }
}