workflows/13-application-form-extract-event.json
{
  "name": "[13] [event] [application] [form extract]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/application/extract-form",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4111-8111-111111111111",
      "name": "webhook-form-extract",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "a1b2c3d4-2222-4222-8222-222222222222",
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-key-cred",
          "name": "Internal API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst body = input.body || {};\n\n// Validate required UUIDs\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nif (!body.board_job_id || !uuidRegex.test(body.board_job_id)) {\n  throw new Error('Invalid board_job_id');\n}\nif (!body.posting_id || !uuidRegex.test(body.posting_id)) {\n  throw new Error('Invalid posting_id');\n}\nif (!body.profile_id || !uuidRegex.test(body.profile_id)) {\n  throw new Error('Invalid profile_id');\n}\n\nreturn {\n  json: {\n    board_job_id: body.board_job_id,\n    posting_id: body.posting_id,\n    profile_id: body.profile_id\n  }\n};"
      },
      "id": "a1b2c3d4-3333-4333-8333-333333333333",
      "name": "validate-event",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Invalid event payload\", \"code\": \"VALIDATION_ERROR\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-4444-4444-8444-444444444444",
      "name": "respond-400-validation-error",
      "position": [
        500,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulates Supabase query:\n// SELECT bj.id as board_job_id, bj.profile_id, bj.board_status,\n//        p.id as posting_id, p.external_url, p.title as job_title,\n//        c.name as company_name\n// FROM job.board_job bj\n// JOIN job.posting p ON p.id = bj.posting_id\n// LEFT JOIN job.company c ON c.id = p.company_id\n// WHERE bj.id = :board_job_id AND bj.profile_id = :profile_id\n\nconst input = $input.item.json;\n\n// In production, this would be a Supabase query\n// For now, return mock data structure\nreturn {\n  json: {\n    ...input,\n    board_status: 'interested',\n    external_url: 'https://boards.greenhouse.io/stripe/jobs/12345',\n    job_title: 'Senior Software Engineer',\n    company_name: 'Stripe',\n    has_result: true\n  }\n};"
      },
      "id": "a1b2c3d4-5555-4555-8555-555555555555",
      "name": "fetch-board-job",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-result-exists",
              "leftValue": "={{ $json.has_result }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-6666-4666-8666-666666666666",
      "name": "check-board-job-exists",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Board job not found\", \"code\": \"NOT_FOUND\" }",
        "options": {
          "responseCode": 404
        }
      },
      "id": "a1b2c3d4-7777-4777-8777-777777777777",
      "name": "respond-404-not-found",
      "position": [
        1000,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-external-url",
              "leftValue": "={{ $json.external_url }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-8888-4888-8888-888888888888",
      "name": "check-external-url",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Job posting has no external URL\", \"code\": \"MISSING_URL\" }",
        "options": {
          "responseCode": 422
        }
      },
      "id": "a1b2c3d4-9999-4999-8999-999999999999",
      "name": "respond-422-no-url",
      "position": [
        1250,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst url = input.external_url;\n\nfunction detectATS(url) {\n  const patterns = {\n    'greenhouse': /greenhouse\\.io|boards\\.greenhouse/i,\n    'lever': /lever\\.co|jobs\\.lever/i,\n    'workday': /myworkday\\.com|wd\\d+\\.myworkday/i,\n    'ashby': /ashbyhq\\.com|jobs\\.ashby/i,\n    'bamboohr': /bamboohr\\.com/i,\n    'icims': /icims\\.com/i,\n    'taleo': /taleo\\.net/i,\n    'jobvite': /jobvite\\.com/i,\n    'smartrecruiters': /smartrecruiters\\.com/i,\n    'linkedin': /linkedin\\.com\\/jobs/i\n  };\n  \n  for (const [platform, pattern] of Object.entries(patterns)) {\n    if (pattern.test(url)) return platform;\n  }\n  return 'unknown';\n}\n\nreturn {\n  json: {\n    ...input,\n    ats_platform: detectATS(url)\n  }\n};"
      },
      "id": "a1b2c3d4-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "detect-ats-platform",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Simulates Browserbase session creation via HTTP\n// POST https://api.browserbase.com/v1/sessions\n// This would use this.helpers.httpRequest in production\n\nconst sessionId = 'bb-session-' + Date.now();\nconst connectUrl = 'wss://connect.browserbase.com/session/' + sessionId;\n\nreturn {\n  json: {\n    ...input,\n    session_id: sessionId,\n    session_connect_url: connectUrl\n  }\n};"
      },
      "id": "a1b2c3d4-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "create-browserbase-session",
      "position": [
        1500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Failed to create browser session\", \"code\": \"SESSION_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-cccc-4ccc-8ccc-cccccccccccc",
      "name": "respond-500-session-error",
      "position": [
        1750,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Simulates Playwright form extraction via Browserbase\n// In production, this would execute Playwright code against the session\n\nconst fields = [\n  {\n    field_id: 'first_name',\n    field_label: 'First Name',\n    field_type: 'text',\n    is_required: true,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'last_name',\n    field_label: 'Last Name',\n    field_type: 'text',\n    is_required: true,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'email',\n    field_label: 'Email Address',\n    field_type: 'email',\n    is_required: true,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'phone',\n    field_label: 'Phone Number',\n    field_type: 'tel',\n    is_required: false,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'resume',\n    field_label: 'Resume/CV',\n    field_type: 'file',\n    is_required: true,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'cover_letter',\n    field_label: 'Cover Letter',\n    field_type: 'file',\n    is_required: false,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'linkedin_url',\n    field_label: 'LinkedIn Profile URL',\n    field_type: 'url',\n    is_required: false,\n    options: null,\n    is_custom_question: false\n  },\n  {\n    field_id: 'work_authorization',\n    field_label: 'Are you authorized to work in the United States?',\n    field_type: 'select',\n    is_required: true,\n    options: ['Yes', 'No'],\n    is_custom_question: false\n  },\n  {\n    field_id: 'why_company',\n    field_label: 'Why do you want to work at Stripe?',\n    field_type: 'textarea',\n    is_required: true,\n    options: null,\n    is_custom_question: true\n  },\n  {\n    field_id: 'years_experience',\n    field_label: 'How many years of relevant experience do you have?',\n    field_type: 'select',\n    is_required: true,\n    options: ['0-2', '3-5', '5-10', '10+'],\n    is_custom_question: true\n  }\n];\n\nconst formSchema = {\n  steps: [{\n    step_number: 1,\n    step_name: 'Application',\n    fields: fields\n  }],\n  submit_button_text: 'Submit Application'\n};\n\nreturn {\n  json: {\n    ...input,\n    form_schema: formSchema,\n    custom_questions_count: fields.filter(f => f.is_custom_question).length,\n    requires_resume: fields.some(f => f.field_type === 'file' || f.field_id.toLowerCase().includes('resume')),\n    requires_cover_letter: fields.some(f => f.field_id.toLowerCase().includes('cover')),\n    requires_linkedin: fields.some(f => f.field_id.toLowerCase().includes('linkedin')),\n    requires_work_authorization: fields.some(f => f.field_label.toLowerCase().includes('authorized'))\n  }\n};"
      },
      "id": "a1b2c3d4-dddd-4ddd-8ddd-dddddddddddd",
      "name": "extract-form-schema",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Failed to extract form schema\", \"code\": \"EXTRACTION_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "a1b2c3d4-eeee-4eee-8eee-eeeeeeeeeeee",
      "name": "respond-500-extraction-error",
      "position": [
        2000,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Simulates Supabase INSERT into job.posting_application_form\n// Returns the created row with generated ID\n\nconst formId = 'form-' + Date.now();\n\nreturn {\n  json: {\n    ...input,\n    form_id: formId\n  }\n};"
      },
      "id": "a1b2c3d4-ffff-4fff-8fff-ffffffffffff",
      "name": "insert-application-form",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst formId = input.form_id;\nconst postingId = input.posting_id;\nconst fields = input.form_schema.steps[0].fields || [];\n\nfunction classifyQuestion(label) {\n  const l = (label || '').toLowerCase();\n  if (/email|phone|address|city|zip|postal|linkedin|github|portfolio|website/.test(l)) return 'contact';\n  if (/authorized|visa|sponsorship|work permit|citizen|resident|eligible/.test(l)) return 'work_auth';\n  if (/salary|compensation|pay|wage|rate|expected/.test(l)) return 'salary';\n  if (/experience|years|worked|familiar|proficient/.test(l)) return 'experience';\n  return 'custom';\n}\n\nfunction getAnswerSource(category, fieldId) {\n  const sources = {\n    'contact': 'profile.' + fieldId.replace(/[^a-z]/gi, '_'),\n    'work_auth': 'lifetree.work_authorization',\n    'salary': 'lifetree.salary_expectation',\n    'experience': 'lifetree.skills',\n    'custom': 'generate'\n  };\n  return sources[category] || 'generate';\n}\n\nconst questions = fields.map((f, idx) => {\n  const category = classifyQuestion(f.field_label);\n  return {\n    posting_application_form_id: formId,\n    posting_id: postingId,\n    step_number: 1,\n    field_order: idx + 1,\n    field_id: f.field_id,\n    field_label: f.field_label,\n    field_type: f.field_type,\n    is_required: f.is_required,\n    options: f.options ? JSON.stringify(f.options) : null,\n    is_custom_question: f.is_custom_question,\n    question_category: category,\n    answer_source_hint: getAnswerSource(category, f.field_id)\n  };\n});\n\n// Pass through original data plus questions\nreturn [{\n  json: {\n    ...input,\n    questions: questions,\n    questions_count: questions.length\n  }\n}];"
      },
      "id": "b1b2c3d4-0000-4000-8000-000000000001",
      "name": "denormalize-questions",
      "position": [
        2250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Simulates batch INSERT into job.posting_form_question\n// In production, this would iterate over questions array\n\nreturn {\n  json: {\n    ...input,\n    questions_inserted: input.questions_count\n  }\n};"
      },
      "id": "b1b2c3d4-0000-4000-8000-000000000002",
      "name": "insert-form-questions",
      "position": [
        2500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst validateEvent = $('validate-event').item.json;\nconst sessionData = $('create-browserbase-session').item.json;\n\n// Simulates INSERT into job.watch_application_recording\nconst recordingId = 'rec-' + Date.now();\n\nreturn {\n  json: {\n    ...input,\n    recording_id: recordingId,\n    storage_key: validateEvent.profile_id + '/' + validateEvent.board_job_id + '-form-extract.webm',\n    external_session_id: sessionData.session_id\n  }\n};"
      },
      "id": "b1b2c3d4-0000-4000-8000-000000000003",
      "name": "insert-recording",
      "position": [
        2750,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/v1/internal/application/generate-materials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "board_job_id",
              "value": "={{ $('validate-event').item.json.board_job_id }}"
            },
            {
              "name": "posting_id",
              "value": "={{ $('validate-event').item.json.posting_id }}"
            },
            {
              "name": "profile_id",
              "value": "={{ $('validate-event').item.json.profile_id }}"
            },
            {
              "name": "form_id",
              "value": "={{ $('insert-application-form').item.json.form_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1b2c3d4-0000-4000-8000-000000000004",
      "name": "trigger-material-generate",
      "position": [
        3000,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-key-cred",
          "name": "Internal API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', data: { form_id: $('insert-application-form').item.json.form_id, ats_platform: $('detect-ats-platform').item.json.ats_platform, questions_extracted: $('denormalize-questions').item.json.questions_count, recording_id: $('insert-recording').item.json.recording_id, downstream_triggered: true } }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1b2c3d4-0000-4000-8000-000000000005",
      "name": "respond-200-success",
      "position": [
        3250,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-form-extract": {
      "main": [
        [
          {
            "node": "validate-event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-event": {
      "main": [
        [
          {
            "node": "fetch-board-job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-board-job": {
      "main": [
        [
          {
            "node": "check-board-job-exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-board-job-exists": {
      "main": [
        [
          {
            "node": "check-external-url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-404-not-found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-external-url": {
      "main": [
        [
          {
            "node": "detect-ats-platform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-422-no-url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detect-ats-platform": {
      "main": [
        [
          {
            "node": "create-browserbase-session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-browserbase-session": {
      "main": [
        [
          {
            "node": "extract-form-schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-session-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract-form-schema": {
      "main": [
        [
          {
            "node": "insert-application-form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-extraction-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-application-form": {
      "main": [
        [
          {
            "node": "denormalize-questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "denormalize-questions": {
      "main": [
        [
          {
            "node": "insert-form-questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-form-questions": {
      "main": [
        [
          {
            "node": "insert-recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-recording": {
      "main": [
        [
          {
            "node": "trigger-material-generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger-material-generate": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-form-extract": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "content-type": "application/json",
          "x-internal-key": "internal-secret-key-12345",
          "x-forwarded-for": "10.0.0.1",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
          "posting_id": "550e8400-e29b-41d4-a716-446655440000",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633"
        },
        "webhookUrl": "https://aura.zeogen.com/v1/internal/application/extract-form",
        "executionMode": "test"
      }
    ],
    "validate-event": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633"
      }
    ],
    "fetch-board-job": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true
      }
    ],
    "check-board-job-exists": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true
      }
    ],
    "check-external-url": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true
      }
    ],
    "detect-ats-platform": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true,
        "ats_platform": "greenhouse"
      }
    ],
    "create-browserbase-session": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true,
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "session_connect_url": "wss://connect.browserbase.com/session/bb-session-1732612800000"
      }
    ],
    "extract-form-schema": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true,
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "session_connect_url": "wss://connect.browserbase.com/session/bb-session-1732612800000",
        "form_schema": {
          "steps": [
            {
              "step_number": 1,
              "step_name": "Application",
              "fields": [
                {
                  "field_id": "first_name",
                  "field_label": "First Name",
                  "field_type": "text",
                  "is_required": true,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "last_name",
                  "field_label": "Last Name",
                  "field_type": "text",
                  "is_required": true,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "email",
                  "field_label": "Email Address",
                  "field_type": "email",
                  "is_required": true,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "phone",
                  "field_label": "Phone Number",
                  "field_type": "tel",
                  "is_required": false,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "resume",
                  "field_label": "Resume/CV",
                  "field_type": "file",
                  "is_required": true,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "cover_letter",
                  "field_label": "Cover Letter",
                  "field_type": "file",
                  "is_required": false,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "linkedin_url",
                  "field_label": "LinkedIn Profile URL",
                  "field_type": "url",
                  "is_required": false,
                  "options": null,
                  "is_custom_question": false
                },
                {
                  "field_id": "work_authorization",
                  "field_label": "Are you authorized to work in the United States?",
                  "field_type": "select",
                  "is_required": true,
                  "options": [
                    "Yes",
                    "No"
                  ],
                  "is_custom_question": false
                },
                {
                  "field_id": "why_company",
                  "field_label": "Why do you want to work at Stripe?",
                  "field_type": "textarea",
                  "is_required": true,
                  "options": null,
                  "is_custom_question": true
                },
                {
                  "field_id": "years_experience",
                  "field_label": "How many years of relevant experience do you have?",
                  "field_type": "select",
                  "is_required": true,
                  "options": [
                    "0-2",
                    "3-5",
                    "5-10",
                    "10+"
                  ],
                  "is_custom_question": true
                }
              ]
            }
          ],
          "submit_button_text": "Submit Application"
        },
        "custom_questions_count": 2,
        "requires_resume": true,
        "requires_cover_letter": true,
        "requires_linkedin": true,
        "requires_work_authorization": true
      }
    ],
    "insert-application-form": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "board_status": "interested",
        "external_url": "https://boards.greenhouse.io/stripe/jobs/12345",
        "job_title": "Senior Software Engineer",
        "company_name": "Stripe",
        "has_result": true,
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "form_schema": {
          "steps": [
            {
              "step_number": 1,
              "step_name": "Application",
              "fields": []
            }
          ],
          "submit_button_text": "Submit Application"
        },
        "custom_questions_count": 2,
        "requires_resume": true,
        "requires_cover_letter": true,
        "requires_linkedin": true,
        "requires_work_authorization": true,
        "form_id": "form-1732612800001"
      }
    ],
    "denormalize-questions": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "form_id": "form-1732612800001",
        "questions": [
          {
            "posting_application_form_id": "form-1732612800001",
            "posting_id": "550e8400-e29b-41d4-a716-446655440000",
            "step_number": 1,
            "field_order": 1,
            "field_id": "first_name",
            "field_label": "First Name",
            "field_type": "text",
            "is_required": true,
            "options": null,
            "is_custom_question": false,
            "question_category": "contact",
            "answer_source_hint": "profile.first_name"
          },
          {
            "posting_application_form_id": "form-1732612800001",
            "posting_id": "550e8400-e29b-41d4-a716-446655440000",
            "step_number": 1,
            "field_order": 2,
            "field_id": "last_name",
            "field_label": "Last Name",
            "field_type": "text",
            "is_required": true,
            "options": null,
            "is_custom_question": false,
            "question_category": "contact",
            "answer_source_hint": "profile.last_name"
          },
          {
            "posting_application_form_id": "form-1732612800001",
            "posting_id": "550e8400-e29b-41d4-a716-446655440000",
            "step_number": 1,
            "field_order": 3,
            "field_id": "email",
            "field_label": "Email Address",
            "field_type": "email",
            "is_required": true,
            "options": null,
            "is_custom_question": false,
            "question_category": "contact",
            "answer_source_hint": "profile.email"
          },
          {
            "posting_application_form_id": "form-1732612800001",
            "posting_id": "550e8400-e29b-41d4-a716-446655440000",
            "step_number": 1,
            "field_order": 9,
            "field_id": "why_company",
            "field_label": "Why do you want to work at Stripe?",
            "field_type": "textarea",
            "is_required": true,
            "options": null,
            "is_custom_question": true,
            "question_category": "custom",
            "answer_source_hint": "generate"
          },
          {
            "posting_application_form_id": "form-1732612800001",
            "posting_id": "550e8400-e29b-41d4-a716-446655440000",
            "step_number": 1,
            "field_order": 10,
            "field_id": "years_experience",
            "field_label": "How many years of relevant experience do you have?",
            "field_type": "select",
            "is_required": true,
            "options": "[\"0-2\",\"3-5\",\"5-10\",\"10+\"]",
            "is_custom_question": true,
            "question_category": "experience",
            "answer_source_hint": "lifetree.skills"
          }
        ],
        "questions_count": 10
      }
    ],
    "insert-form-questions": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "form_id": "form-1732612800001",
        "questions_count": 10,
        "questions_inserted": 10
      }
    ],
    "insert-recording": [
      {
        "board_job_id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
        "posting_id": "550e8400-e29b-41d4-a716-446655440000",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "ats_platform": "greenhouse",
        "session_id": "bb-session-1732612800000",
        "form_id": "form-1732612800001",
        "questions_count": 10,
        "questions_inserted": 10,
        "recording_id": "rec-1732612800002",
        "storage_key": "d654bdd6-17ea-4d46-8222-b29ad507b633/f47ac10b-58cc-4372-a567-0e02b2c3d479-form-extract.webm",
        "external_session_id": "bb-session-1732612800000"
      }
    ],
    "trigger-material-generate": [
      {
        "status": "accepted",
        "message": "Material generation triggered"
      }
    ],
    "respond-200-success": [
      {
        "status": "success",
        "data": {
          "form_id": "form-1732612800001",
          "ats_platform": "greenhouse",
          "questions_extracted": 10,
          "recording_id": "rec-1732612800002",
          "downstream_triggered": true
        }
      }
    ]
  },
  "settings": {},
  "tags": []
}