workflows/16-voice-transcript-process-trigger.json
{
  "name": "[16] [trigger] [voice] [transcript process]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/voice/process",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000001",
      "name": "webhook-storage-voice-upload",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "b1c2d3e4-1001-4000-8000-000000000002",
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-webhook-key-cred",
          "name": "Internal Webhook Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Validate bucket\nif (input.body?.bucket_id !== 'voice') {\n  throw new Error(`Invalid bucket: expected 'voice', got '${input.body?.bucket_id}'`);\n}\n\n// Validate required fields\nif (!input.body?.name || !input.body?.owner) {\n  throw new Error('Missing required fields: name or owner');\n}\n\n// Pass through validated data\nreturn {\n  json: {\n    storage_key: input.body.name,\n    profile_id: input.body.owner,\n    bucket_id: input.body.bucket_id,\n    file_metadata: input.body.metadata || {}\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000003",
      "name": "validate-storage-event",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Invalid storage event\", \"code\": \"VALIDATION_ERROR\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000004",
      "name": "respond-400-validation-error",
      "position": [
        500,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase query: SELECT id, profile_id, storage_bucket, storage_key, usage_context, processing_status\n// FROM core.voice_transcript WHERE storage_key = :storage_key\nconst storageKey = $input.item.json.storage_key;\n\n// In production, this would be a real Supabase query\n// For workflow testing, we simulate a found record\nreturn {\n  json: {\n    ...$input.item.json,\n    voice_record: {\n      id: 'vt-uuid-001',\n      profile_id: $input.item.json.profile_id,\n      storage_bucket: 'voice',\n      storage_key: storageKey,\n      usage_context: 'question_answer',\n      processing_status: 'pending'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000005",
      "name": "fetch-voice-record",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Voice transcript record not found\", \"code\": \"RECORD_NOT_FOUND\" }",
        "options": {
          "responseCode": 404
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000006",
      "name": "respond-404-record-not-found",
      "position": [
        1000,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-record-exists",
              "leftValue": "={{ $json.voice_record?.id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000007",
      "name": "check-record-exists",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase query: SELECT id, full_name, headline FROM core.profile WHERE id = :profile_id\nconst profileId = $input.item.json.voice_record.profile_id;\n\n// In production, this would be a real Supabase query\nreturn {\n  json: {\n    ...$input.item.json,\n    profile: {\n      id: profileId,\n      full_name: 'Mirzamin Agazade',\n      headline: 'Product Designer at Raycast'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000008",
      "name": "fetch-profile-context",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase UPDATE: SET processing_status = 'transcribing' WHERE id = :voice_id\nconst voiceId = $input.item.json.voice_record.id;\n\n// In production, this would be a real Supabase update\nreturn {\n  json: {\n    ...$input.item.json,\n    status_update: {\n      success: true,\n      new_status: 'transcribing'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000009",
      "name": "update-status-transcribing",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/voice/{{ $json.voice_record.storage_key }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000010",
      "name": "download-audio-file",
      "position": [
        1500,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-role-cred",
          "name": "Supabase Service Role"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "error_type",
              "type": "string",
              "value": "STORAGE_ERROR"
            },
            {
              "name": "error_message",
              "type": "string",
              "value": "Failed to download audio file"
            },
            {
              "name": "voice_id",
              "type": "string",
              "value": "={{ $('fetch-voice-record').item.json.voice_record.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000011",
      "name": "set-download-error",
      "position": [
        1750,
        300
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const voice = $('fetch-voice-record').item.json.voice_record;\nconst profile = $('fetch-profile-context').item.json.profile;\n\n// Build prompt hint for Whisper (max 224 tokens)\n// Include user name and any known terms to improve accuracy\nconst promptParts = [\n  profile.full_name,\n  profile.headline\n].filter(Boolean);\n\nreturn {\n  json: {\n    voice_id: voice.id,\n    storage_key: voice.storage_key,\n    usage_context: voice.usage_context,\n    profile_id: voice.profile_id,\n    prompt_hint: promptParts.join(', ').slice(0, 200),\n    full_name: profile.full_name || 'Unknown',\n    // Audio binary would be passed from previous node in production\n    has_audio: true\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000012",
      "name": "prepare-prompt-hints",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt_hint }}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "temperature",
              "value": "0"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000013",
      "name": "groq-whisper-transcribe",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "groq-api-cred",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "error_type",
              "type": "string",
              "value": "STT_ERROR"
            },
            {
              "name": "error_message",
              "type": "string",
              "value": "Groq Whisper transcription failed"
            },
            {
              "name": "voice_id",
              "type": "string",
              "value": "={{ $('prepare-prompt-hints').item.json.voice_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000014",
      "name": "set-stt-error",
      "position": [
        2250,
        300
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase UPDATE: SET original_transcript = :text, processing_status = 'enhancing'\nconst voiceId = $('prepare-prompt-hints').item.json.voice_id;\nconst transcript = $input.item.json.text;\n\n// In production, this would be a real Supabase update\nreturn {\n  json: {\n    voice_id: voiceId,\n    original_transcript: transcript,\n    usage_context: $('prepare-prompt-hints').item.json.usage_context,\n    full_name: $('prepare-prompt-hints').item.json.full_name,\n    status_update: {\n      success: true,\n      new_status: 'enhancing'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000015",
      "name": "save-original-transcript",
      "position": [
        2250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const context = $input.item.json;\nconst rawTranscript = context.original_transcript;\n\nconst correctionPrompt = `You are correcting a speech-to-text transcript. Fix any misrecognized names, companies, or technical terms using the context provided. Only fix obvious errors - do not rephrase or add content.\n\nContext:\n- User: ${context.full_name}\n- Screen: ${context.usage_context}\n\nRaw transcript: \"${rawTranscript}\"\n\nCorrected transcript:`;\n\nreturn {\n  json: {\n    voice_id: context.voice_id,\n    original_transcript: rawTranscript,\n    correction_prompt: correctionPrompt,\n    usage_context: context.usage_context\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000016",
      "name": "build-correction-prompt",
      "position": [
        2500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.correction_prompt) }} }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 500\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000017",
      "name": "groq-llama-correct",
      "position": [
        2750,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "groq-api-cred",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "error_type",
              "type": "string",
              "value": "LLM_ERROR"
            },
            {
              "name": "error_message",
              "type": "string",
              "value": "Groq Llama correction failed"
            },
            {
              "name": "voice_id",
              "type": "string",
              "value": "={{ $('build-correction-prompt').item.json.voice_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000018",
      "name": "set-llm-error",
      "position": [
        3000,
        300
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const context = $('build-correction-prompt').item.json;\nconst llmResponse = $input.item.json;\n\nconst enhancedTranscript = llmResponse.choices?.[0]?.message?.content?.trim() \n  || context.original_transcript;\n\nconst wordCount = enhancedTranscript.split(/\\s+/).filter(w => w.length > 0).length;\n\nreturn {\n  json: {\n    voice_id: context.voice_id,\n    original_transcript: context.original_transcript,\n    enhanced_transcript: enhancedTranscript,\n    processing_metadata: {\n      stt_model: 'groq-whisper-large-v3-turbo',\n      llm_model: 'llama-3.3-70b-versatile',\n      word_count: wordCount,\n      language: 'en'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000019",
      "name": "calculate-metadata",
      "position": [
        3000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase UPDATE: SET enhanced_transcript, processing_status = 'completed', processing_metadata, completed_at\nconst data = $input.item.json;\n\n// In production, this would be a real Supabase update\nreturn {\n  json: {\n    ...data,\n    completed_at: new Date().toISOString(),\n    update_result: {\n      success: true,\n      new_status: 'completed'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000020",
      "name": "update-status-completed",
      "position": [
        3250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"data\": { \"voice_transcript_id\": $json.voice_id, \"enhanced_transcript\": $json.enhanced_transcript, \"word_count\": $json.processing_metadata.word_count } } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000021",
      "name": "respond-200-success",
      "position": [
        3500,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Simulate Supabase UPDATE: SET processing_status = 'failed', processing_error = :error_message\nconst data = $input.item.json;\n\n// In production, this would be a real Supabase update\nreturn {\n  json: {\n    voice_id: data.voice_id,\n    error_type: data.error_type,\n    error_message: data.error_message,\n    update_result: {\n      success: true,\n      new_status: 'failed'\n    }\n  }\n};"
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000022",
      "name": "update-status-failed",
      "position": [
        3250,
        300
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Voice processing failed\", \"code\": $json.error_type, \"details\": $json.error_message } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "b1c2d3e4-1001-4000-8000-000000000023",
      "name": "respond-500-processing-error",
      "position": [
        3500,
        300
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-storage-voice-upload": {
      "main": [
        [
          {
            "node": "validate-storage-event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-storage-event": {
      "main": [
        [
          {
            "node": "fetch-voice-record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-voice-record": {
      "main": [
        [
          {
            "node": "check-record-exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-404-record-not-found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-record-exists": {
      "main": [
        [
          {
            "node": "fetch-profile-context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-404-record-not-found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-profile-context": {
      "main": [
        [
          {
            "node": "update-status-transcribing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-status-transcribing": {
      "main": [
        [
          {
            "node": "download-audio-file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download-audio-file": {
      "main": [
        [
          {
            "node": "prepare-prompt-hints",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set-download-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-download-error": {
      "main": [
        [
          {
            "node": "update-status-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare-prompt-hints": {
      "main": [
        [
          {
            "node": "groq-whisper-transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq-whisper-transcribe": {
      "main": [
        [
          {
            "node": "save-original-transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set-stt-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-stt-error": {
      "main": [
        [
          {
            "node": "update-status-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-original-transcript": {
      "main": [
        [
          {
            "node": "build-correction-prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-correction-prompt": {
      "main": [
        [
          {
            "node": "groq-llama-correct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq-llama-correct": {
      "main": [
        [
          {
            "node": "calculate-metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set-llm-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-llm-error": {
      "main": [
        [
          {
            "node": "update-status-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate-metadata": {
      "main": [
        [
          {
            "node": "update-status-completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-status-completed": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-status-failed": {
      "main": [
        [
          {
            "node": "respond-500-processing-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-storage-voice-upload": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "content-type": "application/json",
          "x-internal-key": "internal-api-key-12345",
          "x-forwarded-for": "10.0.0.1",
          "x-forwarded-proto": "https"
        },
        "body": {
          "type": "INSERT",
          "bucket_id": "voice",
          "name": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
          "owner": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "metadata": {
            "mimetype": "audio/m4a",
            "size": 180000
          }
        },
        "webhookUrl": "https://aura.zeogen.com/v1/internal/voice/process",
        "executionMode": "test"
      }
    ],
    "validate-storage-event": [
      {
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "bucket_id": "voice",
        "file_metadata": {
          "mimetype": "audio/m4a",
          "size": 180000
        }
      }
    ],
    "fetch-voice-record": [
      {
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "bucket_id": "voice",
        "file_metadata": {
          "mimetype": "audio/m4a",
          "size": 180000
        },
        "voice_record": {
          "id": "vt-uuid-001",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "storage_bucket": "voice",
          "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
          "usage_context": "question_answer",
          "processing_status": "pending"
        }
      }
    ],
    "check-record-exists": [
      {
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "bucket_id": "voice",
        "file_metadata": {
          "mimetype": "audio/m4a",
          "size": 180000
        },
        "voice_record": {
          "id": "vt-uuid-001",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "storage_bucket": "voice",
          "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
          "usage_context": "question_answer",
          "processing_status": "pending"
        }
      }
    ],
    "fetch-profile-context": [
      {
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "bucket_id": "voice",
        "file_metadata": {
          "mimetype": "audio/m4a",
          "size": 180000
        },
        "voice_record": {
          "id": "vt-uuid-001",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "storage_bucket": "voice",
          "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
          "usage_context": "question_answer",
          "processing_status": "pending"
        },
        "profile": {
          "id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "full_name": "Mirzamin Agazade",
          "headline": "Product Designer at Raycast"
        }
      }
    ],
    "update-status-transcribing": [
      {
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "bucket_id": "voice",
        "file_metadata": {
          "mimetype": "audio/m4a",
          "size": 180000
        },
        "voice_record": {
          "id": "vt-uuid-001",
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "storage_bucket": "voice",
          "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
          "usage_context": "question_answer",
          "processing_status": "pending"
        },
        "profile": {
          "id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "full_name": "Mirzamin Agazade",
          "headline": "Product Designer at Raycast"
        },
        "status_update": {
          "success": true,
          "new_status": "transcribing"
        }
      }
    ],
    "download-audio-file": [
      {
        "data": "base64-encoded-audio-binary-data-here"
      }
    ],
    "prepare-prompt-hints": [
      {
        "voice_id": "vt-uuid-001",
        "storage_key": "d654bdd6-17ea-4d46/voice-20251125T1200.m4a",
        "usage_context": "question_answer",
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "prompt_hint": "Mirzamin Agazade, Product Designer at Raycast",
        "full_name": "Mirzamin Agazade",
        "has_audio": true
      }
    ],
    "groq-whisper-transcribe": [
      {
        "text": "I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users."
      }
    ],
    "save-original-transcript": [
      {
        "voice_id": "vt-uuid-001",
        "original_transcript": "I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users.",
        "usage_context": "question_answer",
        "full_name": "Mirzamin Agazade",
        "status_update": {
          "success": true,
          "new_status": "enhancing"
        }
      }
    ],
    "build-correction-prompt": [
      {
        "voice_id": "vt-uuid-001",
        "original_transcript": "I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users.",
        "correction_prompt": "You are correcting a speech-to-text transcript. Fix any misrecognized names, companies, or technical terms using the context provided. Only fix obvious errors - do not rephrase or add content.\n\nContext:\n- User: Mirzamin Agazade\n- Screen: question_answer\n\nRaw transcript: \"I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users.\"\n\nCorrected transcript:",
        "usage_context": "question_answer"
      }
    ],
    "groq-llama-correct": [
      {
        "id": "chatcmpl-abc123",
        "object": "chat.completion",
        "created": 1732531200,
        "model": "llama-3.3-70b-versatile",
        "choices": [
          {
            "index": 0,
            "message": {
              "role": "assistant",
              "content": "I want to work at Raycast where I can make a real impact on developer productivity. My experience at Figma taught me how to design for technical users."
            },
            "finish_reason": "stop"
          }
        ],
        "usage": {
          "prompt_tokens": 120,
          "completion_tokens": 35,
          "total_tokens": 155
        }
      }
    ],
    "calculate-metadata": [
      {
        "voice_id": "vt-uuid-001",
        "original_transcript": "I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users.",
        "enhanced_transcript": "I want to work at Raycast where I can make a real impact on developer productivity. My experience at Figma taught me how to design for technical users.",
        "processing_metadata": {
          "stt_model": "groq-whisper-large-v3-turbo",
          "llm_model": "llama-3.3-70b-versatile",
          "word_count": 27,
          "language": "en"
        }
      }
    ],
    "update-status-completed": [
      {
        "voice_id": "vt-uuid-001",
        "original_transcript": "I want to work at ray cast where I can make a real impact on developer productivity. My experience at figma taught me how to design for technical users.",
        "enhanced_transcript": "I want to work at Raycast where I can make a real impact on developer productivity. My experience at Figma taught me how to design for technical users.",
        "processing_metadata": {
          "stt_model": "groq-whisper-large-v3-turbo",
          "llm_model": "llama-3.3-70b-versatile",
          "word_count": 27,
          "language": "en"
        },
        "completed_at": "2025-11-25T12:05:30.000Z",
        "update_result": {
          "success": true,
          "new_status": "completed"
        }
      }
    ],
    "respond-200-success": [
      {
        "status": "success",
        "data": {
          "voice_transcript_id": "vt-uuid-001",
          "enhanced_transcript": "I want to work at Raycast where I can make a real impact on developer productivity. My experience at Figma taught me how to design for technical users.",
          "word_count": 27
        }
      }
    ]
  },
  "settings": {},
  "tags": []
}