workflows/19-feed-jobs-api-webhook.json
{
  "name": "[19] [webhook] [feed] [jobs api]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feed/jobs",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f19a0001-feed-4a01-b001-000000000001",
      "name": "webhook-feed-jobs",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "f19a0001-feed-4a01-b001-000000000002",
      "credentials": {
        "jwtAuth": {
          "id": "Y81uL2Ni4CoBivqb",
          "name": "Supabase JWT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Validate JWT\nif (!input.jwtPayload?.sub) {\n  throw new Error('AUTH_ERROR: Missing authentication');\n}\n\n// Parse and validate pagination\nconst limit = Math.min(Math.max(parseInt(input.body?.limit) || 20, 1), 50);\nconst offset = Math.max(parseInt(input.body?.offset) || 0, 0);\n\n// Parse filters (sanitize)\nconst filters = input.body?.filters || {};\nconst validatedFilters = {\n  min_salary: filters.min_salary ? parseInt(filters.min_salary) : null,\n  location_city: filters.location_city?.trim() || null,\n  remote_only: filters.remote_only === true,\n  perfect_only: filters.perfect_only === true,\n  new_only: filters.new_only === true,\n  seniority_level: filters.seniority_level?.trim() || null\n};\n\nreturn {\n  json: {\n    profile_id: input.jwtPayload.sub,\n    limit,\n    offset,\n    filters: validatedFilters\n  }\n};"
      },
      "id": "f19a0002-feed-4a02-b002-000000000002",
      "name": "validate-request",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid request parameters\", \"code\": \"VALIDATION_ERROR\", \"message\": $json.message } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f19a0003-feed-4a03-b003-000000000003",
      "name": "respond-400-validation",
      "position": [
        500,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profile",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.profile_id }}"
            },
            {
              "name": "select",
              "value": "id,subscription_tier,is_pro,location_city"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "f19a0004-feed-4a04-b004-000000000004",
      "name": "fetch-user-profile",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "profile-exists-check",
              "leftValue": "={{ $json.length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "f19a0005-feed-4a05-b005-000000000005",
      "name": "check-profile-exists",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Profile not found\", \"code\": \"PROFILE_NOT_FOUND\" }",
        "options": {
          "responseCode": 404
        }
      },
      "id": "f19a0006-feed-4a06-b006-000000000006",
      "name": "respond-404-profile",
      "position": [
        1000,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Database error\", \"code\": \"DATABASE_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      },
      "id": "f19a0007-feed-4a07-b007-000000000007",
      "name": "respond-500-database",
      "position": [
        1250,
        400
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const profileData = $input.item.json;\nconst profile = Array.isArray(profileData) ? profileData[0] : profileData;\n\nreturn {\n  json: {\n    ...profile,\n    is_pro: profile.is_pro === true || profile.subscription_tier === 'pro'\n  }\n};"
      },
      "id": "f19a0008-feed-4a08-b008-000000000008",
      "name": "extract-profile",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "tier-check",
              "leftValue": "={{ $json.is_pro }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "f19a0009-feed-4a09-b009-000000000009",
      "name": "check-user-tier",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_feed_jobs_free",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_profile_id\": \"{{ $('validate-request').item.json.profile_id }}\",\n  \"p_user_city\": \"{{ $('extract-profile').item.json.location_city }}\",\n  \"p_remote_only\": {{ $('validate-request').item.json.filters.remote_only }},\n  \"p_seniority_level\": {{ $('validate-request').item.json.filters.seniority_level ? '\"' + $('validate-request').item.json.filters.seniority_level + '\"' : 'null' }},\n  \"p_limit\": {{ Math.min($('validate-request').item.json.limit, 20) }},\n  \"p_offset\": {{ $('validate-request').item.json.offset }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f19a0010-feed-4a10-b010-000000000010",
      "name": "query-jobs-free",
      "position": [
        1500,
        100
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_feed_jobs_pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_profile_id\": \"{{ $('validate-request').item.json.profile_id }}\",\n  \"p_min_salary\": {{ $('validate-request').item.json.filters.min_salary || 'null' }},\n  \"p_location_city\": {{ $('validate-request').item.json.filters.location_city ? '\"' + $('validate-request').item.json.filters.location_city + '\"' : 'null' }},\n  \"p_remote_only\": {{ $('validate-request').item.json.filters.remote_only }},\n  \"p_perfect_only\": {{ $('validate-request').item.json.filters.perfect_only }},\n  \"p_new_only\": {{ $('validate-request').item.json.filters.new_only }},\n  \"p_seniority_level\": {{ $('validate-request').item.json.filters.seniority_level ? '\"' + $('validate-request').item.json.filters.seniority_level + '\"' : 'null' }},\n  \"p_limit\": {{ Math.min($('validate-request').item.json.limit, 50) }},\n  \"p_offset\": {{ $('validate-request').item.json.offset }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f19a0011-feed-4a11-b011-000000000011",
      "name": "query-jobs-pro",
      "position": [
        1500,
        -100
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "f19a0012-feed-4a12-b012-000000000012",
      "name": "merge-job-results",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\nconst jobs = inputItems.flatMap(item => {\n  const data = item.json;\n  return Array.isArray(data) ? data : [data];\n}).filter(job => job && job.id);\n\nconst request = $('validate-request').first().json;\nconst profile = $('extract-profile').first().json;\nconst isPro = profile.is_pro;\n\n// Format jobs based on tier\nconst formattedJobs = jobs.map(job => {\n  const baseJob = {\n    id: job.id,\n    title: job.title,\n    company_name: job.company_name,\n    company_id: job.company_id,\n    location_city: job.location_city,\n    location_type: job.location_type,\n    salary_raw: job.salary_raw,\n    seniority_level: job.seniority_level,\n    posted_at: job.posted_at,\n    description_summary: job.description_summary,\n    match_label: job.match_label,\n    is_new: job.is_new\n  };\n\n  if (isPro) {\n    return {\n      ...baseJob,\n      salary_min: job.salary_min,\n      salary_max: job.salary_max,\n      match_score: job.match_score,\n      match_insights: job.match_insights,\n      required_skills: job.required_skills,\n      benefits: job.benefits\n    };\n  }\n  \n  return baseJob;\n});\n\n// Calculate pagination\nconst hasMore = jobs.length === request.limit;\nconst nextOffset = hasMore ? request.offset + request.limit : null;\n\nreturn [{\n  json: {\n    status: 'success',\n    data: {\n      jobs: formattedJobs,\n      pagination: {\n        limit: request.limit,\n        offset: request.offset,\n        count: jobs.length,\n        has_more: hasMore,\n        next_offset: nextOffset\n      }\n    },\n    meta: {\n      tier: profile.subscription_tier,\n      filters_applied: request.filters\n    }\n  }\n}];"
      },
      "id": "f19a0013-feed-4a13-b013-000000000013",
      "name": "normalize-feed-response",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f19a0014-feed-4a14-b014-000000000014",
      "name": "respond-200-success",
      "position": [
        2250,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-feed-jobs": {
      "main": [
        [
          {
            "node": "validate-request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-request": {
      "main": [
        [
          {
            "node": "fetch-user-profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-user-profile": {
      "main": [
        [
          {
            "node": "check-profile-exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-profile-exists": {
      "main": [
        [
          {
            "node": "extract-profile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-404-profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract-profile": {
      "main": [
        [
          {
            "node": "check-user-tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-user-tier": {
      "main": [
        [
          {
            "node": "query-jobs-pro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "query-jobs-free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query-jobs-free": {
      "main": [
        [
          {
            "node": "merge-job-results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query-jobs-pro": {
      "main": [
        [
          {
            "node": "merge-job-results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge-job-results": {
      "main": [
        [
          {
            "node": "normalize-feed-response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize-feed-response": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-feed-jobs": [
      {
        "headers": {
          "host": "aura.zeogen.com",
          "user-agent": "AuraApp/1.0",
          "content-length": "180",
          "accept": "*/*",
          "authorization": "Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6Iks2eUhTRDN5MTFLUEJUaGwiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2R1Z2dneHJ3dmZha3J6bW5sZmlmLnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiJkNjU0YmRkNi0xN2VhLTRkNDYtODIyMi1iMjlhZDUwN2I2MzMiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzYzOTA3Nzg5LCJpYXQiOjE3NjM5MDQxODksImVtYWlsIjoidXNlckBleGFtcGxlLmNvbSIsInBob25lIjoiIiwiYXBwX21ldGFkYXRhIjp7InByb3ZpZGVyIjoiZW1haWwiLCJwcm92aWRlcnMiOlsiZW1haWwiXX0sInVzZXJfbWV0YWRhdGEiOnt9LCJyb2xlIjoiYXV0aGVudGljYXRlZCIsImFhbCI6ImFhbDEiLCJhbXIiOlt7Im1ldGhvZCI6InBhc3N3b3JkIiwidGltZXN0YW1wIjoxNzYzOTA0MTg5fV0sInNlc3Npb25faWQiOiIzYWE1NjJmNi1jMDFmLTQ3ZTUtYWUyZi1hMDI5NTNhZTgxYjMiLCJpc19hbm9ueW1vdXMiOmZhbHNlfQ.ZOWmfcMVGXLVkq1-4M4HoWGEHf6UHQHGFFDhIbeBYa0",
          "content-type": "application/json"
        },
        "params": {},
        "query": {},
        "body": {
          "limit": 20,
          "offset": 0,
          "filters": {
            "min_salary": 150000,
            "location_city": "San Francisco",
            "remote_only": true,
            "perfect_only": true,
            "new_only": false,
            "seniority_level": "senior"
          }
        },
        "webhookUrl": "https://aura.zeogen.com/v1/feed/jobs",
        "executionMode": "test",
        "jwtPayload": {
          "iss": "https://dugggxrwvfakrzmnlfif.supabase.co/auth/v1",
          "sub": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "aud": "authenticated",
          "exp": 1763907789,
          "iat": 1763904189,
          "email": "user@example.com",
          "phone": "",
          "app_metadata": {
            "provider": "email",
            "providers": [
              "email"
            ]
          },
          "user_metadata": {},
          "role": "authenticated",
          "aal": "aal1",
          "amr": [
            {
              "method": "password",
              "timestamp": 1763904189
            }
          ],
          "session_id": "3aa562f6-c01f-47e5-ae2f-a02953ae81b3",
          "is_anonymous": false
        }
      }
    ],
    "validate-request": [
      {
        "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "limit": 20,
        "offset": 0,
        "filters": {
          "min_salary": 150000,
          "location_city": "San Francisco",
          "remote_only": true,
          "perfect_only": true,
          "new_only": false,
          "seniority_level": "senior"
        }
      }
    ],
    "fetch-user-profile": [
      {
        "id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "subscription_tier": "pro",
        "is_pro": true,
        "location_city": "San Francisco"
      }
    ],
    "extract-profile": [
      {
        "id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
        "subscription_tier": "pro",
        "is_pro": true,
        "location_city": "San Francisco"
      }
    ],
    "query-jobs-pro": [
      {
        "id": "job-001-stripe-backend",
        "title": "Senior Backend Engineer",
        "company_name": "Stripe",
        "company_id": "company-stripe-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_min": 180000,
        "salary_max": 250000,
        "salary_raw": "$180k - $250k",
        "seniority_level": "senior",
        "posted_at": "2024-11-25T10:00:00Z",
        "description_summary": "Join Stripe's infrastructure team to build scalable payment systems serving millions of businesses worldwide.",
        "required_skills": [
          "Python",
          "PostgreSQL",
          "Kubernetes",
          "AWS"
        ],
        "benefits": [
          "Equity",
          "401k Match",
          "Health Insurance",
          "Remote First"
        ],
        "match_score": 94,
        "match_insights": {
          "skill_overlap": 0.85,
          "experience_fit": 0.92,
          "culture_alignment": 0.88
        },
        "match_label": "PERFECT",
        "is_new": true
      },
      {
        "id": "job-002-airbnb-platform",
        "title": "Staff Platform Engineer",
        "company_name": "Airbnb",
        "company_id": "company-airbnb-001",
        "location_city": "San Francisco",
        "location_type": "hybrid",
        "salary_min": 200000,
        "salary_max": 280000,
        "salary_raw": "$200k - $280k",
        "seniority_level": "staff",
        "posted_at": "2024-11-24T15:30:00Z",
        "description_summary": "Lead platform engineering initiatives to improve developer productivity and system reliability.",
        "required_skills": [
          "Go",
          "gRPC",
          "Terraform",
          "GCP"
        ],
        "benefits": [
          "Stock Options",
          "Unlimited PTO",
          "Learning Budget"
        ],
        "match_score": 91,
        "match_insights": {
          "skill_overlap": 0.78,
          "experience_fit": 0.95,
          "culture_alignment": 0.9
        },
        "match_label": "PERFECT",
        "is_new": true
      },
      {
        "id": "job-003-figma-infra",
        "title": "Senior Infrastructure Engineer",
        "company_name": "Figma",
        "company_id": "company-figma-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_min": 175000,
        "salary_max": 240000,
        "salary_raw": "$175k - $240k",
        "seniority_level": "senior",
        "posted_at": "2024-11-23T09:00:00Z",
        "description_summary": "Build and maintain the infrastructure powering real-time collaborative design tools.",
        "required_skills": [
          "Rust",
          "WebSocket",
          "Redis",
          "PostgreSQL"
        ],
        "benefits": [
          "RSUs",
          "Health & Dental",
          "Home Office Stipend"
        ],
        "match_score": 87,
        "match_insights": {
          "skill_overlap": 0.72,
          "experience_fit": 0.88,
          "culture_alignment": 0.92
        },
        "match_label": "GOOD_FIT",
        "is_new": false
      }
    ],
    "query-jobs-free": [
      {
        "id": "job-001-stripe-backend",
        "title": "Senior Backend Engineer",
        "company_name": "Stripe",
        "company_id": "company-stripe-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_raw": "$180k - $250k",
        "seniority_level": "senior",
        "posted_at": "2024-11-25T10:00:00Z",
        "description_summary": "Join Stripe's infrastructure team to build scalable payment systems serving millions of businesses worldwide.",
        "match_label": "PERFECT",
        "is_new": true
      },
      {
        "id": "job-004-notion-eng",
        "title": "Software Engineer",
        "company_name": "Notion",
        "company_id": "company-notion-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_raw": "$150k - $200k",
        "seniority_level": "mid",
        "posted_at": "2024-11-24T11:00:00Z",
        "description_summary": "Help build the future of productivity tools used by millions of teams.",
        "match_label": "GOOD_FIT",
        "is_new": true
      }
    ],
    "merge-job-results": [
      {
        "id": "job-001-stripe-backend",
        "title": "Senior Backend Engineer",
        "company_name": "Stripe",
        "company_id": "company-stripe-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_min": 180000,
        "salary_max": 250000,
        "salary_raw": "$180k - $250k",
        "seniority_level": "senior",
        "posted_at": "2024-11-25T10:00:00Z",
        "description_summary": "Join Stripe's infrastructure team to build scalable payment systems serving millions of businesses worldwide.",
        "required_skills": [
          "Python",
          "PostgreSQL",
          "Kubernetes",
          "AWS"
        ],
        "benefits": [
          "Equity",
          "401k Match",
          "Health Insurance",
          "Remote First"
        ],
        "match_score": 94,
        "match_insights": {
          "skill_overlap": 0.85,
          "experience_fit": 0.92,
          "culture_alignment": 0.88
        },
        "match_label": "PERFECT",
        "is_new": true
      },
      {
        "id": "job-002-airbnb-platform",
        "title": "Staff Platform Engineer",
        "company_name": "Airbnb",
        "company_id": "company-airbnb-001",
        "location_city": "San Francisco",
        "location_type": "hybrid",
        "salary_min": 200000,
        "salary_max": 280000,
        "salary_raw": "$200k - $280k",
        "seniority_level": "staff",
        "posted_at": "2024-11-24T15:30:00Z",
        "description_summary": "Lead platform engineering initiatives to improve developer productivity and system reliability.",
        "required_skills": [
          "Go",
          "gRPC",
          "Terraform",
          "GCP"
        ],
        "benefits": [
          "Stock Options",
          "Unlimited PTO",
          "Learning Budget"
        ],
        "match_score": 91,
        "match_insights": {
          "skill_overlap": 0.78,
          "experience_fit": 0.95,
          "culture_alignment": 0.9
        },
        "match_label": "PERFECT",
        "is_new": true
      },
      {
        "id": "job-003-figma-infra",
        "title": "Senior Infrastructure Engineer",
        "company_name": "Figma",
        "company_id": "company-figma-001",
        "location_city": "San Francisco",
        "location_type": "remote",
        "salary_min": 175000,
        "salary_max": 240000,
        "salary_raw": "$175k - $240k",
        "seniority_level": "senior",
        "posted_at": "2024-11-23T09:00:00Z",
        "description_summary": "Build and maintain the infrastructure powering real-time collaborative design tools.",
        "required_skills": [
          "Rust",
          "WebSocket",
          "Redis",
          "PostgreSQL"
        ],
        "benefits": [
          "RSUs",
          "Health & Dental",
          "Home Office Stipend"
        ],
        "match_score": 87,
        "match_insights": {
          "skill_overlap": 0.72,
          "experience_fit": 0.88,
          "culture_alignment": 0.92
        },
        "match_label": "GOOD_FIT",
        "is_new": false
      }
    ],
    "normalize-feed-response": [
      {
        "status": "success",
        "data": {
          "jobs": [
            {
              "id": "job-001-stripe-backend",
              "title": "Senior Backend Engineer",
              "company_name": "Stripe",
              "company_id": "company-stripe-001",
              "location_city": "San Francisco",
              "location_type": "remote",
              "salary_raw": "$180k - $250k",
              "seniority_level": "senior",
              "posted_at": "2024-11-25T10:00:00Z",
              "description_summary": "Join Stripe's infrastructure team to build scalable payment systems serving millions of businesses worldwide.",
              "match_label": "PERFECT",
              "is_new": true,
              "salary_min": 180000,
              "salary_max": 250000,
              "match_score": 94,
              "match_insights": {
                "skill_overlap": 0.85,
                "experience_fit": 0.92,
                "culture_alignment": 0.88
              },
              "required_skills": [
                "Python",
                "PostgreSQL",
                "Kubernetes",
                "AWS"
              ],
              "benefits": [
                "Equity",
                "401k Match",
                "Health Insurance",
                "Remote First"
              ]
            },
            {
              "id": "job-002-airbnb-platform",
              "title": "Staff Platform Engineer",
              "company_name": "Airbnb",
              "company_id": "company-airbnb-001",
              "location_city": "San Francisco",
              "location_type": "hybrid",
              "salary_raw": "$200k - $280k",
              "seniority_level": "staff",
              "posted_at": "2024-11-24T15:30:00Z",
              "description_summary": "Lead platform engineering initiatives to improve developer productivity and system reliability.",
              "match_label": "PERFECT",
              "is_new": true,
              "salary_min": 200000,
              "salary_max": 280000,
              "match_score": 91,
              "match_insights": {
                "skill_overlap": 0.78,
                "experience_fit": 0.95,
                "culture_alignment": 0.9
              },
              "required_skills": [
                "Go",
                "gRPC",
                "Terraform",
                "GCP"
              ],
              "benefits": [
                "Stock Options",
                "Unlimited PTO",
                "Learning Budget"
              ]
            },
            {
              "id": "job-003-figma-infra",
              "title": "Senior Infrastructure Engineer",
              "company_name": "Figma",
              "company_id": "company-figma-001",
              "location_city": "San Francisco",
              "location_type": "remote",
              "salary_raw": "$175k - $240k",
              "seniority_level": "senior",
              "posted_at": "2024-11-23T09:00:00Z",
              "description_summary": "Build and maintain the infrastructure powering real-time collaborative design tools.",
              "match_label": "GOOD_FIT",
              "is_new": false,
              "salary_min": 175000,
              "salary_max": 240000,
              "match_score": 87,
              "match_insights": {
                "skill_overlap": 0.72,
                "experience_fit": 0.88,
                "culture_alignment": 0.92
              },
              "required_skills": [
                "Rust",
                "WebSocket",
                "Redis",
                "PostgreSQL"
              ],
              "benefits": [
                "RSUs",
                "Health & Dental",
                "Home Office Stipend"
              ]
            }
          ],
          "pagination": {
            "limit": 20,
            "offset": 0,
            "count": 3,
            "has_more": false,
            "next_offset": null
          }
        },
        "meta": {
          "tier": "pro",
          "filters_applied": {
            "min_salary": 150000,
            "location_city": "San Francisco",
            "remote_only": true,
            "perfect_only": true,
            "new_only": false,
            "seniority_level": "senior"
          }
        }
      }
    ],
    "respond-200-success": [
      {
        "status": "success",
        "data": {
          "jobs": [
            {
              "id": "job-001-stripe-backend",
              "title": "Senior Backend Engineer",
              "company_name": "Stripe",
              "company_id": "company-stripe-001",
              "location_city": "San Francisco",
              "location_type": "remote",
              "salary_raw": "$180k - $250k",
              "seniority_level": "senior",
              "posted_at": "2024-11-25T10:00:00Z",
              "description_summary": "Join Stripe's infrastructure team to build scalable payment systems serving millions of businesses worldwide.",
              "match_label": "PERFECT",
              "is_new": true,
              "salary_min": 180000,
              "salary_max": 250000,
              "match_score": 94,
              "match_insights": {
                "skill_overlap": 0.85,
                "experience_fit": 0.92,
                "culture_alignment": 0.88
              },
              "required_skills": [
                "Python",
                "PostgreSQL",
                "Kubernetes",
                "AWS"
              ],
              "benefits": [
                "Equity",
                "401k Match",
                "Health Insurance",
                "Remote First"
              ]
            }
          ],
          "pagination": {
            "limit": 20,
            "offset": 0,
            "count": 3,
            "has_more": false,
            "next_offset": null
          }
        },
        "meta": {
          "tier": "pro",
          "filters_applied": {
            "min_salary": 150000,
            "location_city": "San Francisco",
            "remote_only": true,
            "perfect_only": true,
            "new_only": false,
            "seniority_level": "senior"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}