workflows/23-referral-share-verify-webhook.json
{
  "name": "[23] [webhook] [referral] [share verify]",
  "nodes": [
    {
      "id": "b3e1c2d4-a1b2-4c3d-8e9f-0a1b2c3d4e5f",
      "name": "webhook-verify-social-share",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "f1e2d3c4-b5a6-4789-0123-456789abcdef",
      "onError": "continueRegularOutput",
      "credentials": {
        "jwtAuth": {
          "id": "supa-jwt-auth-id",
          "name": "Supabase JWT"
        }
      },
      "parameters": {
        "httpMethod": "POST",
        "path": "referral/verify-share",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c4f2d3e5-b2c3-5d4e-9f0a-1b2c3d4e5f6a",
      "name": "validate-request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Validate JWT\nif (!input.jwtPayload?.sub) {\n  throw new Error('AUTH_ERROR: Authentication required');\n}\n\n// Validate share_id (UUID format)\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!input.body?.share_id || !uuidRegex.test(input.body.share_id)) {\n  throw new Error('VALIDATION_ERROR: Valid share_id (UUID) required');\n}\n\n// Validate and normalize twitter_handle\nlet handle = input.body?.twitter_handle?.trim() || '';\nhandle = handle.startsWith('@') ? handle.substring(1) : handle;\nif (!/^[a-zA-Z0-9_]{1,15}$/.test(handle)) {\n  throw new Error('VALIDATION_ERROR: Valid twitter_handle required');\n}\n\nreturn {\n  json: {\n    user_id: input.jwtPayload.sub,\n    share_id: input.body.share_id,\n    twitter_handle: handle.toLowerCase()\n  }\n};"
      }
    },
    {
      "id": "d5g3e4f6-c3d4-6e5f-0a1b-2c3d4e5f6a7b",
      "name": "respond-400-validation-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        250,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": $json.message ? $json.message.split(': ')[1] || 'Invalid request' : 'Invalid request', \"code\": $json.message ? $json.message.split(': ')[0] || 'VALIDATION_ERROR' : 'VALIDATION_ERROR'} }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "e6h4f5g7-d4e5-7f6g-1b2c-3d4e5f6a7b8c",
      "name": "fetch-share-record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "supabaseApi": {
          "id": "supa-auth-id",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "getAll",
        "tableId": "core.social_share",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ '=eq.' + $('validate-request').item.json.share_id + '&' + '=eq.' + $('validate-request').item.json.user_id }}",
        "useCustomSchema": true
      }
    },
    {
      "id": "f7i5g6h8-e5f6-8g7h-2c3d-4e5f6a7b8c9d",
      "name": "respond-500-db-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        500,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Database error\", \"code\": \"DB_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "g8j6h7i9-f6g7-9h8i-3d4e-5f6a7b8c9d0e",
      "name": "validate-share-eligibility",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const shares = $input.all();\nconst validated = $('validate-request').item.json;\n\n// Check if share exists\nif (!shares.length || !shares[0].json?.id) {\n  throw new Error('NOT_FOUND: Share record not found');\n}\n\nconst share = shares[0].json;\n\n// Check if already verified\nif (share.is_verified) {\n  throw new Error('ALREADY_VERIFIED: Share already verified');\n}\n\n// Check platform is twitter\nif (share.platform !== 'twitter') {\n  throw new Error('WRONG_PLATFORM: Only Twitter shares can be verified');\n}\n\n// Check 7-day time window\nconst createdAt = new Date(share.created_at);\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nif (createdAt < sevenDaysAgo) {\n  throw new Error('EXPIRED: Share verification window expired (7 days)');\n}\n\n// Check content hash exists\nif (!share.share_content_hash) {\n  throw new Error('INVALID_SHARE: Missing content hash');\n}\n\nreturn {\n  json: {\n    share_id: share.id,\n    profile_id: share.profile_id,\n    content_hash: share.share_content_hash,\n    twitter_handle: validated.twitter_handle\n  }\n};"
      }
    },
    {
      "id": "h9k7i8j0-g7h8-0i9j-4e5f-6a7b8c9d0e1f",
      "name": "route-eligibility-error",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        750,
        200
      ],
      "parameters": {
        "mode": "rules",
        "options": {
          "fallbackOutput": 3
        },
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message || '' }}",
                    "rightValue": "NOT_FOUND",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message || '' }}",
                    "rightValue": "ALREADY_VERIFIED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.message || '' }}",
                    "rightValue": "EXPIRED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "outputIndex": 2
            }
          ]
        }
      }
    },
    {
      "id": "i0l8j9k1-h8i9-1j0k-5f6a-7b8c9d0e1f2g",
      "name": "respond-404-not-found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        350
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Share record not found\", \"code\": \"NOT_FOUND\" }",
        "options": {
          "responseCode": 404
        }
      }
    },
    {
      "id": "j1m9k0l2-i9j0-2k1l-6a7b-8c9d0e1f2g3h",
      "name": "respond-400-already-verified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Share already verified\", \"code\": \"ALREADY_VERIFIED\" }",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "k2n0l1m3-j0k1-3l2m-7b8c-9d0e1f2g3h4i",
      "name": "respond-400-expired",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        650
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Verification window expired (7 days)\", \"code\": \"EXPIRED\" }",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "l3o1m2n4-k1l2-4m3n-8c9d-0e1f2g3h4i5j",
      "name": "respond-400-ineligible",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Share not eligible for verification\", \"code\": \"INELIGIBLE\" }",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "m4p2n3o5-l2m3-5n4o-9d0e-1f2g3h4i5j6k",
      "name": "search-twitter-api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1000,
        0
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "twitter-auth-id",
          "name": "Twitter API"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ `from:${$json.twitter_handle} ${$json.content_hash}` }}"
            },
            {
              "name": "max_results",
              "value": "10"
            },
            {
              "name": "tweet.fields",
              "value": "id,text,created_at,author_id"
            }
          ]
        }
      }
    },
    {
      "id": "n5q3o4p6-m3n4-6o5p-0e1f-2g3h4i5j6k7l",
      "name": "respond-500-twitter-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Twitter verification unavailable - please try again\", \"code\": \"TWITTER_API_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "o6r4p5q7-n4o5-7p6q-1f2g-3h4i5j6k7l8m",
      "name": "check-tweet-found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1250,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "tweet-found-1",
              "leftValue": "={{ $json.data ? $json.data.length : 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "p7s5q6r8-o5p6-8q7r-2g3h-4i5j6k7l8m9n",
      "name": "respond-200-not-verified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"verified\": false, \"error\": \"Tweet not found - share not verified\", \"code\": \"TWEET_NOT_FOUND\" }",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "q8t6r7s9-p6q7-9r8s-3h4i-5j6k7l8m9n0o",
      "name": "build-tweet-data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "share_id",
              "type": "string",
              "value": "={{ $('validate-share-eligibility').item.json.share_id }}"
            },
            {
              "name": "profile_id",
              "type": "string",
              "value": "={{ $('validate-share-eligibility').item.json.profile_id }}"
            },
            {
              "name": "twitter_handle",
              "type": "string",
              "value": "={{ $('validate-share-eligibility').item.json.twitter_handle }}"
            },
            {
              "name": "tweet_id",
              "type": "string",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "share_url",
              "type": "string",
              "value": "={{ `https://twitter.com/${$('validate-share-eligibility').item.json.twitter_handle}/status/${$json.data[0].id}` }}"
            }
          ]
        }
      }
    },
    {
      "id": "r9u7s8t0-q7r8-0s9t-4i5j-6k7l8m9n0o1p",
      "name": "update-share-verified",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1750,
        0
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "supabaseApi": {
          "id": "supa-auth-id",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "update",
        "tableId": "core.social_share",
        "updateKey": "id",
        "columns": "is_verified, verified_at, verification_method, share_url",
        "fields": {
          "values": [
            {
              "name": "is_verified",
              "value": "true"
            },
            {
              "name": "verified_at",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "verification_method",
              "value": "twitter_api_search"
            },
            {
              "name": "share_url",
              "value": "={{ $json.share_url }}"
            }
          ]
        },
        "filterType": "string",
        "filterString": "={{ '=eq.' + $json.share_id }}",
        "useCustomSchema": true
      }
    },
    {
      "id": "s0v8t9u1-r8s9-1t0u-5j6k-7l8m9n0o1p2q",
      "name": "respond-500-update-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Failed to update verification status\", \"code\": \"UPDATE_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "t1w9u0v2-s9t0-2u1v-6k7l-8m9n0o1p2q3r",
      "name": "create-referral-reward",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "supabaseApi": {
          "id": "supa-auth-id",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "create",
        "tableId": "core.referral_reward",
        "columns": "referrer_profile_id, referred_profile_id, reward_type, credit_type, credits_awarded",
        "fields": {
          "values": [
            {
              "name": "referrer_profile_id",
              "value": "={{ $('build-tweet-data').item.json.profile_id }}"
            },
            {
              "name": "referred_profile_id",
              "value": "={{ $('build-tweet-data').item.json.profile_id }}"
            },
            {
              "name": "reward_type",
              "value": "social_share"
            },
            {
              "name": "credit_type",
              "value": "apply"
            },
            {
              "name": "credits_awarded",
              "value": "10"
            }
          ]
        },
        "useCustomSchema": true
      }
    },
    {
      "id": "u2x0v1w3-t0u1-3v2w-7l8m-9n0o1p2q3r4s",
      "name": "respond-500-reward-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Failed to create reward\", \"code\": \"REWARD_ERROR\" }",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "v3y1w2x4-u1v2-4w3x-8m9n-0o1p2q3r4s5t",
      "name": "link-reward-to-share",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2250,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supa-auth-id",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "update",
        "tableId": "core.social_share",
        "updateKey": "id",
        "columns": "reward_id",
        "fields": {
          "values": [
            {
              "name": "reward_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "filterType": "string",
        "filterString": "={{ '=eq.' + $('build-tweet-data').item.json.share_id }}",
        "useCustomSchema": true
      }
    },
    {
      "id": "w4z2x3y5-v2w3-5x4y-9n0o-1p2q3r4s5t6u",
      "name": "respond-200-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2500,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ verified: true, credits_awarded: 10, share_url: $('build-tweet-data').item.json.share_url, reward_id: $('create-referral-reward').item.json.id }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "webhook-verify-social-share": {
      "main": [
        [
          {
            "node": "validate-request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-request": {
      "main": [
        [
          {
            "node": "fetch-share-record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-share-record": {
      "main": [
        [
          {
            "node": "validate-share-eligibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-db-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-share-eligibility": {
      "main": [
        [
          {
            "node": "search-twitter-api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "route-eligibility-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route-eligibility-error": {
      "main": [
        [
          {
            "node": "respond-404-not-found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-already-verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-ineligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search-twitter-api": {
      "main": [
        [
          {
            "node": "check-tweet-found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-twitter-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-tweet-found": {
      "main": [
        [
          {
            "node": "build-tweet-data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-200-not-verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-tweet-data": {
      "main": [
        [
          {
            "node": "update-share-verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-share-verified": {
      "main": [
        [
          {
            "node": "create-referral-reward",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-update-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-referral-reward": {
      "main": [
        [
          {
            "node": "link-reward-to-share",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-reward-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "link-reward-to-share": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [],
  "pinData": {
    "webhook-verify-social-share": [
      {
        "json": {
          "headers": {
            "authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "body": {
            "share_id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
            "twitter_handle": "testuser"
          },
          "jwtPayload": {
            "sub": "d654bdd6-1234-5678-9abc-def012345678",
            "email": "test@example.com"
          }
        }
      }
    ],
    "validate-request": [
      {
        "json": {
          "user_id": "d654bdd6-1234-5678-9abc-def012345678",
          "share_id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "twitter_handle": "testuser"
        }
      }
    ],
    "fetch-share-record": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "profile_id": "d654bdd6-1234-5678-9abc-def012345678",
          "platform": "twitter",
          "created_at": "2023-10-25T10:00:00Z",
          "is_verified": false,
          "share_content_hash": "#aura_abc123"
        }
      }
    ],
    "validate-share-eligibility": [
      {
        "json": {
          "share_id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "profile_id": "d654bdd6-1234-5678-9abc-def012345678",
          "content_hash": "#aura_abc123",
          "twitter_handle": "testuser"
        }
      }
    ],
    "search-twitter-api": [
      {
        "json": {
          "data": [
            {
              "id": "1234567890",
              "text": "Just shared my aura profile! #aura_abc123",
              "created_at": "2023-10-26T12:00:00Z",
              "author_id": "987654321"
            }
          ],
          "meta": {
            "result_count": 1
          }
        }
      }
    ],
    "check-tweet-found": [
      {
        "json": {
          "data": [
            {
              "id": "1234567890",
              "text": "Just shared my aura profile! #aura_abc123",
              "created_at": "2023-10-26T12:00:00Z",
              "author_id": "987654321"
            }
          ],
          "meta": {
            "result_count": 1
          }
        }
      }
    ],
    "build-tweet-data": [
      {
        "json": {
          "share_id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "profile_id": "d654bdd6-1234-5678-9abc-def012345678",
          "twitter_handle": "testuser",
          "tweet_id": "1234567890",
          "share_url": "https://twitter.com/testuser/status/1234567890"
        }
      }
    ],
    "update-share-verified": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "is_verified": true,
          "verified_at": "2023-10-26T12:05:00Z",
          "verification_method": "twitter_api_search",
          "share_url": "https://twitter.com/testuser/status/1234567890"
        }
      }
    ],
    "create-referral-reward": [
      {
        "json": {
          "id": "r1e2w3a4-r5d6-4789-0123-456789abcdef",
          "referrer_profile_id": "d654bdd6-1234-5678-9abc-def012345678",
          "referred_profile_id": "d654bdd6-1234-5678-9abc-def012345678",
          "reward_type": "social_share",
          "credit_type": "apply",
          "credits_awarded": 10
        }
      }
    ],
    "link-reward-to-share": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-4789-0123-456789abcdef",
          "reward_id": "r1e2w3a4-r5d6-4789-0123-456789abcdef"
        }
      }
    ],
    "respond-200-success": [
      {
        "json": {
          "verified": true,
          "credits_awarded": 10,
          "share_url": "https://twitter.com/testuser/status/1234567890",
          "reward_id": "r1e2w3a4-r5d6-4789-0123-456789abcdef"
        }
      }
    ]
  }
}