workflows/24-feed-swipe-webhook.json
{
  "name": "[24] [webhook] [feed] [swipe]",
  "nodes": [
    {
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "webhook-feed-swipe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "00000000-0000-0000-0000-000000000000",
      "onError": "continueRegularOutput",
      "credentials": {
        "jwtAuth": {
          "id": "supabase-jwt",
          "name": "Supabase JWT"
        }
      },
      "parameters": {
        "httpMethod": "POST",
        "path": "feed/swipe",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "validate-swipe-request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\n\n// Validate JWT\nif (!input.jwtPayload?.sub) {\n  throw new Error('AUTH_ERROR: Missing authentication');\n}\n\nconst body = input.body || {};\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\n// Validate posting_id\nif (!body.posting_id || !uuidRegex.test(body.posting_id)) {\n  throw new Error('VALIDATION_ERROR: Invalid posting_id');\n}\n\n// Validate swipe_direction\nconst validDirections = ['left', 'right', 'up'];\nif (!validDirections.includes(body.swipe_direction)) {\n  throw new Error('VALIDATION_ERROR: Invalid swipe_direction (must be left, right, or up)');\n}\n\n// Optional match_score validation\nconst matchScore = body.match_score_at_swipe;\nif (matchScore !== undefined && (matchScore < 0 || matchScore > 100)) {\n  throw new Error('VALIDATION_ERROR: match_score must be 0-100');\n}\n\nreturn {\n  json: {\n    profile_id: input.jwtPayload.sub,\n    posting_id: body.posting_id,\n    swipe_direction: body.swipe_direction,\n    match_score_at_swipe: matchScore || null\n  }\n};"
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "respond-400-validation-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": $json.error?.message || 'Invalid request', \"code\": \"VALIDATION_ERROR\"} }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "check-duplicate-swipe",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-account",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "getAll",
        "tableId": "job.swipe_event",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ '=eq.' + $json.profile_id + '&' + '=eq.' + $json.posting_id + '&' + =eq.false }}",
        "useCustomSchema": true
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "check-has-duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        0
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "duplicate-condition",
              "leftValue": "={{ $('check-duplicate-swipe').item.json ? 1 : 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ],
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "respond-409-already-swiped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        750,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Already swiped on this job\", \"code\": \"DUPLICATE_SWIPE\"}",
        "options": {
          "responseCode": 409
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "fetch-posting-data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-account",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "getAll",
        "tableId": "job.posting",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ '=eq.' + $('validate-swipe-request').item.json.posting_id + '&' + =eq.True }}",
        "useCustomSchema": true
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000008",
      "name": "check-posting-exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "posting-exists",
              "leftValue": "={{ $('fetch-posting-data').item.json?.id }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000009",
      "name": "respond-404-posting-not-found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Job posting not found or inactive\", \"code\": \"POSTING_NOT_FOUND\"}",
        "options": {
          "responseCode": 404
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000010",
      "name": "route-by-direction",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1500,
        0
      ],
      "parameters": {
        "mode": "rules",
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $('validate-swipe-request').item.json.swipe_direction }}",
                    "rightValue": "left",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $('validate-swipe-request').item.json.swipe_direction }}",
                    "rightValue": "right",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $('validate-swipe-request').item.json.swipe_direction }}",
                    "rightValue": "up",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputIndex": 2
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000011",
      "name": "insert-swipe-left",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1750,
        -200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-account",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "create",
        "tableId": "job.swipe_event",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profile_id": "={{ $('validate-swipe-request').item.json.profile_id }}",
            "posting_id": "={{ $('validate-swipe-request').item.json.posting_id }}",
            "swipe_direction": "left"
          },
          "matchingColumns": [],
          "schemaId": "public"
        },
        "useCustomSchema": true
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000012",
      "name": "respond-200-left-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        -200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"success\", \"data\": {\"swipe_event_id\": $json.id, \"swipe_direction\": \"left\", \"board_job_id\": null, \"credits_remaining\": null}} }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000013",
      "name": "map-credit-cost-right",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1750,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "credit_type",
              "value": "apply",
              "type": "string"
            },
            {
              "name": "credit_cost",
              "value": 1,
              "type": "number"
            },
            {
              "name": "is_boosted",
              "value": false,
              "type": "boolean"
            },
            {
              "name": "profile_id",
              "value": "={{ $('validate-swipe-request').item.json.profile_id }}",
              "type": "string"
            },
            {
              "name": "posting_id",
              "value": "={{ $('validate-swipe-request').item.json.posting_id }}",
              "type": "string"
            },
            {
              "name": "job_title",
              "value": "={{ $('fetch-posting-data').item.json.title }}",
              "type": "string"
            },
            {
              "name": "company_name",
              "value": "={{ $('fetch-posting-data').item.json.company_name }}",
              "type": "string"
            },
            {
              "name": "match_score",
              "value": "={{ $('validate-swipe-request').item.json.match_score_at_swipe }}",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000014",
      "name": "map-credit-cost-up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "credit_type",
              "value": "boost",
              "type": "string"
            },
            {
              "name": "credit_cost",
              "value": 1,
              "type": "number"
            },
            {
              "name": "is_boosted",
              "value": true,
              "type": "boolean"
            },
            {
              "name": "profile_id",
              "value": "={{ $('validate-swipe-request').item.json.profile_id }}",
              "type": "string"
            },
            {
              "name": "posting_id",
              "value": "={{ $('validate-swipe-request').item.json.posting_id }}",
              "type": "string"
            },
            {
              "name": "job_title",
              "value": "={{ $('fetch-posting-data').item.json.title }}",
              "type": "string"
            },
            {
              "name": "company_name",
              "value": "={{ $('fetch-posting-data').item.json.company_name }}",
              "type": "string"
            },
            {
              "name": "match_score",
              "value": "={{ $('validate-swipe-request').item.json.match_score_at_swipe }}",
              "type": "number"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000015",
      "name": "check-credit-balance",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        100
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-account",
          "name": "Supabase account"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT COALESCE(\n  (SELECT balance_after \n   FROM core.credit_transaction \n   WHERE profile_id = '{{ $json.profile_id }}'::uuid \n     AND credit_type = '{{ $json.credit_type }}'\n   ORDER BY created_at DESC \n   LIMIT 1), \n  0\n) as current_balance;",
        "useCustomSchema": true
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000016",
      "name": "check-sufficient-balance",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        100
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "balance-condition",
              "leftValue": "={{ $('check-credit-balance').item.json.current_balance }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "rightValue": "={{ $json.credit_cost }}"
            }
          ],
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000017",
      "name": "respond-402-insufficient-credits",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": \"Insufficient credits\", \"code\": \"INSUFFICIENT_CREDITS\", \"data\": {\"credit_type\": $json.credit_type, \"required\": $json.credit_cost, \"available\": $('check-credit-balance').item.json.current_balance}} }}",
        "options": {
          "responseCode": 402
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000018",
      "name": "atomic-credit-swipe-board",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        100
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst direction = input.is_boosted ? 'up' : 'right';\nconst description = `Swipe ${direction} on ${input.job_title} at ${input.company_name}`;\n\n// Step 1: Insert credit transaction (trigger enforces balance >= 0)\nconst creditTx = await this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/core.credit_transaction',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: {\n    profile_id: input.profile_id,\n    credit_type: input.credit_type,\n    transaction_type: 'deduct',\n    amount: -input.credit_cost,\n    related_entity_type: 'job_application',\n    description: description\n  },\n  json: true\n});\n\nconst creditTransactionId = creditTx[0].id;\nconst creditsRemaining = creditTx[0].balance_after;\n\n// Step 2: Insert swipe event\nconst swipeEvent = await this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/job.swipe_event',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: {\n    profile_id: input.profile_id,\n    posting_id: input.posting_id,\n    swipe_direction: direction,\n    credit_type_used: input.credit_type,\n    credit_deducted_at: new Date().toISOString()\n  },\n  json: true\n});\n\nconst swipeEventId = swipeEvent[0].id;\n\n// Step 3: Insert board job\nconst boardJob = await this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/job.board_job',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: {\n    profile_id: input.profile_id,\n    posting_id: input.posting_id,\n    swipe_event_id: swipeEventId,\n    board_status: 'working',\n    is_boosted: input.is_boosted,\n    boosted_at: input.is_boosted ? new Date().toISOString() : null,\n    match_score: input.match_score\n  },\n  json: true\n});\n\nreturn {\n  json: {\n    credit_transaction_id: creditTransactionId,\n    swipe_event_id: swipeEventId,\n    board_job_id: boardJob[0].id,\n    credits_remaining: creditsRemaining,\n    profile_id: input.profile_id,\n    posting_id: input.posting_id,\n    is_boosted: input.is_boosted\n  }\n};"
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000019",
      "name": "respond-500-transaction-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2750,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Transaction failed\", \"code\": \"TRANSACTION_ERROR\"}",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000020",
      "name": "trigger-scout-agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2750,
        100
      ],
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/v1/internal/application/extract-form",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "board_job_id",
              "value": "={{ $json.board_job_id }}"
            },
            {
              "name": "posting_id",
              "value": "={{ $json.posting_id }}"
            },
            {
              "name": "profile_id",
              "value": "={{ $json.profile_id }}"
            }
          ]
        },
        "options": {
          "responseCode": 200
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "00000000-0000-0000-0000-000000000021",
      "name": "respond-200-apply-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3000,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"success\", \"data\": {\"swipe_event_id\": $('atomic-credit-swipe-board').item.json.swipe_event_id, \"board_job_id\": $('atomic-credit-swipe-board').item.json.board_job_id, \"credit_transaction_id\": $('atomic-credit-swipe-board').item.json.credit_transaction_id, \"credits_remaining\": $('atomic-credit-swipe-board').item.json.credits_remaining, \"is_boosted\": $('atomic-credit-swipe-board').item.json.is_boosted, \"scout_triggered\": true}} }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "webhook-feed-swipe": {
      "main": [
        [
          {
            "node": "validate-swipe-request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate-swipe-request": {
      "main": [
        [
          {
            "node": "check-duplicate-swipe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-400-validation-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-duplicate-swipe": {
      "main": [
        [
          {
            "node": "check-has-duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-has-duplicate": {
      "main": [
        [
          {
            "node": "respond-409-already-swiped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fetch-posting-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-posting-data": {
      "main": [
        [
          {
            "node": "check-posting-exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-posting-exists": {
      "main": [
        [
          {
            "node": "route-by-direction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-404-posting-not-found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route-by-direction": {
      "main": [
        [
          {
            "node": "insert-swipe-left",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "map-credit-cost-right",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "map-credit-cost-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-swipe-left": {
      "main": [
        [
          {
            "node": "respond-200-left-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map-credit-cost-right": {
      "main": [
        [
          {
            "node": "check-credit-balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map-credit-cost-up": {
      "main": [
        [
          {
            "node": "check-credit-balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-credit-balance": {
      "main": [
        [
          {
            "node": "check-sufficient-balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-sufficient-balance": {
      "main": [
        [
          {
            "node": "atomic-credit-swipe-board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-402-insufficient-credits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atomic-credit-swipe-board": {
      "main": [
        [
          {
            "node": "trigger-scout-agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-500-transaction-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger-scout-agent": {
      "main": [
        [
          {
            "node": "respond-200-apply-success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-200-apply-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-feed-swipe": [
      {
        "json": {
          "body": {
            "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
            "swipe_direction": "right",
            "match_score_at_swipe": 87
          },
          "jwtPayload": {
            "sub": "d654bdd6-17ea-4d46-8222-b29ad507b633",
            "email": "user@example.com"
          }
        }
      }
    ],
    "validate-swipe-request": [
      {
        "json": {
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "swipe_direction": "right",
          "match_score_at_swipe": 87
        }
      }
    ],
    "check-duplicate-swipe": [],
    "check-has-duplicate": [
      {
        "json": {
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "swipe_direction": "right",
          "match_score_at_swipe": 87
        }
      }
    ],
    "fetch-posting-data": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "title": "Senior Software Engineer",
          "company_name": "Stripe",
          "is_active": true
        }
      }
    ],
    "check-posting-exists": [
      {
        "json": {
          "id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "title": "Senior Software Engineer",
          "company_name": "Stripe",
          "is_active": true
        }
      }
    ],
    "route-by-direction": [
      {
        "json": {
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "swipe_direction": "right",
          "match_score_at_swipe": 87
        }
      }
    ],
    "map-credit-cost-right": [
      {
        "json": {
          "credit_type": "apply",
          "credit_cost": 1,
          "is_boosted": false,
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "job_title": "Senior Software Engineer",
          "company_name": "Stripe",
          "match_score": 87
        }
      }
    ],
    "check-credit-balance": [
      {
        "json": {
          "current_balance": 5
        }
      }
    ],
    "check-sufficient-balance": [
      {
        "json": {
          "current_balance": 5
        }
      }
    ],
    "atomic-credit-swipe-board": [
      {
        "json": {
          "credit_transaction_id": "tx-123",
          "swipe_event_id": "swipe-123",
          "board_job_id": "board-123",
          "credits_remaining": 4,
          "profile_id": "d654bdd6-17ea-4d46-8222-b29ad507b633",
          "posting_id": "a1b2c3d4-e5f6-4g7h-8i9j-k0l1m2n3o4p5",
          "is_boosted": false
        }
      }
    ],
    "trigger-scout-agent": [
      {
        "json": {
          "status": "success"
        }
      }
    ]
  },
  "active": false,
  "settings": {},
  "tags": []
}