workflows/26-profile-question-generate-event.json
{
  "name": "[26] [event] [profile] [question generate]",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "internal/question-batch-generate",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f26a0001-ques-4a01-b001-000000000001",
      "name": "webhook-question-batch-trigger",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "f26a0001-ques-4a01-b001-000000000002",
      "credentials": {
        "httpHeaderAuth": {
          "id": "InternalWebhookKey1",
          "name": "Internal Webhook Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "buffer-check",
              "leftValue": "={{ $json.body.pending_count }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "rightValue": 20
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "f26a0002-ques-4a02-b002-000000000002",
      "name": "check-buffer-threshold",
      "position": [
        250,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"skipped\", \"reason\": \"buffer_full\", \"pending_count\": $('webhook-question-batch-trigger').item.json.body.pending_count } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f26a0003-ques-4a03-b003-000000000003",
      "name": "respond-200-buffer-full",
      "position": [
        500,
        200
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/get_gap_categories",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"profile_id\": \"{{ $('webhook-question-batch-trigger').item.json.body.profile_id }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f26a0004-ques-4a04-b004-000000000004",
      "name": "fetch-gap-categories",
      "position": [
        500,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "core.fact",
        "returnAll": false,
        "limit": 30,
        "sort": {
          "values": [
            {
              "field": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "filterType": "string",
        "filterString": "={{ 'profile_id=eq.' + $('webhook-question-batch-trigger').item.json.body.profile_id }}"
      },
      "id": "f26a0005-ques-4a05-b005-000000000005",
      "name": "fetch-existing-facts",
      "position": [
        750,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "core.profile_question",
        "returnAll": false,
        "limit": 30,
        "sort": {
          "values": [
            {
              "field": "answered_at",
              "direction": "DESC"
            }
          ]
        },
        "filterType": "string",
        "filterString": "={{ 'profile_id=eq.' + $('webhook-question-batch-trigger').item.json.body.profile_id + '&' + question_status=eq.answered }}"
      },
      "id": "f26a0006-ques-4a06-b006-000000000006",
      "name": "fetch-answered-questions",
      "position": [
        1000,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "core.profile",
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('webhook-question-batch-trigger').item.json.body.profile_id }}"
      },
      "id": "f26a0007-ques-4a07-b007-000000000007",
      "name": "fetch-profile-context",
      "position": [
        1250,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const gaps = $('fetch-gap-categories').all().map(i => i.json);\nconst facts = $('fetch-existing-facts').all().map(i => ({\n  title: i.json.fact_title,\n  category: i.json.category_key\n}));\nconst answered = $('fetch-answered-questions').all().map(i => i.json.question_text);\nconst profile = $('fetch-profile-context').item.json;\n\n// Build gap categories summary\nconst gapSummary = gaps.map(g => \n  `${g.taxonomy_section}/${g.category_name} (${g.fact_count} facts, need ${g.gap_severity} more)`\n).join('\\n');\n\n// Build existing facts summary\nconst factsSummary = facts.slice(0, 20).map(f => \n  `- [${f.category || 'general'}] ${f.title}`\n).join('\\n');\n\nreturn [{\n  json: {\n    gap_categories: gapSummary,\n    existing_facts: factsSummary,\n    answered_questions: answered.slice(0, 15).join('\\n'),\n    profile_headline: profile.headline || 'Professional',\n    profile_name: profile.full_name || 'User',\n    gaps_data: gaps\n  }\n}];"
      },
      "id": "f26a0008-ques-4a08-b008-000000000008",
      "name": "prepare-llm-context",
      "position": [
        1500,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptPath": "profile-question-generate-batch",
        "parametersUi": {
          "parameter": [
            {
              "name": "gap_categories",
              "value": "={{ $json.gap_categories }}"
            },
            {
              "name": "existing_facts",
              "value": "={{ $json.existing_facts }}"
            },
            {
              "name": "answered_questions",
              "value": "={{ $json.answered_questions }}"
            },
            {
              "name": "profile_headline",
              "value": "={{ $json.profile_headline }}"
            }
          ]
        }
      },
      "id": "f26a0009-ques-4a09-b009-000000000009",
      "name": "latitude-generate-batch-questions",
      "position": [
        1750,
        0
      ],
      "type": "n8n-nodes-latitude.latitude",
      "typeVersion": 1,
      "credentials": {
        "latitudeApi": {
          "id": "LatitudeApi1",
          "name": "Latitude account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "error_code",
              "type": "string",
              "value": "AI_GENERATION_ERROR"
            },
            {
              "name": "error_detail",
              "type": "string",
              "value": "={{ $json.message || 'Question generation failed' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f26a0010-ques-4a10-b010-000000000010",
      "name": "set-ai-error",
      "position": [
        1750,
        250
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Question generation failed\", \"code\": \"AI_ERROR\", \"detail\": $json.error_detail } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "f26a0011-ques-4a11-b011-000000000011",
      "name": "respond-500-ai-error",
      "position": [
        2000,
        250
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const questions = $('latitude-generate-batch-questions').item.json.object || [];\nconst payload = $('webhook-question-batch-trigger').item.json.body;\nconst gapsData = $('prepare-llm-context').item.json.gaps_data || [];\n\n// Build gap lookup for priority boost\nconst gapLookup = {};\ngapsData.forEach(g => {\n  gapLookup[g.category_name] = g.gap_severity;\n});\n\nconst transformed = questions.map((q, idx) => {\n  let priority = q.priority || 50;\n  const categoryName = (q.target_category || '').split('/').pop();\n  if (gapLookup[categoryName]) {\n    priority = Math.min(100, priority + (gapLookup[categoryName] * 10));\n  }\n  \n  return {\n    profile_id: payload.profile_id,\n    question_text: q.question_text,\n    question_type: q.question_type || 'open_text',\n    question_context: 'profile_enrichment',\n    question_category: q.target_category,\n    question_status: 'pending',\n    priority: priority,\n    answer_options: q.options ? JSON.stringify(q.options.map(o => ({value: o.toLowerCase().replace(/\\s+/g, '_'), text: o}))) : null\n  };\n});\n\nreturn transformed.map(q => ({ json: q }));"
      },
      "id": "f26a0012-ques-4a12-b012-000000000012",
      "name": "transform-questions-for-insert",
      "position": [
        2000,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "core.profile_question",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "profile_id",
              "fieldValue": "={{ $json.profile_id }}"
            },
            {
              "fieldName": "question_text",
              "fieldValue": "={{ $json.question_text }}"
            },
            {
              "fieldName": "question_type",
              "fieldValue": "={{ $json.question_type }}"
            },
            {
              "fieldName": "question_context",
              "fieldValue": "={{ $json.question_context }}"
            },
            {
              "fieldName": "question_category",
              "fieldValue": "={{ $json.question_category }}"
            },
            {
              "fieldName": "question_status",
              "fieldValue": "={{ $json.question_status }}"
            },
            {
              "fieldName": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldName": "answer_options",
              "fieldValue": "={{ $json.answer_options }}"
            }
          ]
        }
      },
      "id": "f26a0013-ques-4a13-b013-000000000013",
      "name": "insert-questions-batch",
      "position": [
        2250,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "core.profile",
        "updateKey": "id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id",
              "fieldValue": "={{ $('webhook-question-batch-trigger').item.json.body.profile_id }}"
            },
            {
              "fieldName": "question_batch_counter",
              "fieldValue": "0"
            }
          ]
        }
      },
      "id": "f26a0014-ques-4a14-b014-000000000014",
      "name": "reset-batch-counter",
      "position": [
        2500,
        0
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "SupabaseServiceRole1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inserted = $('insert-questions-batch').all();\nconst gaps = $('fetch-gap-categories').all().map(i => i.json.category_name);\nconst profileId = $('webhook-question-batch-trigger').item.json.body.profile_id;\n\nreturn [{\n  json: {\n    status: 'success',\n    questions_created: inserted.length,\n    gaps_targeted: gaps.slice(0, 5),\n    profile_id: profileId\n  }\n}];"
      },
      "id": "f26a0015-ques-4a15-b015-000000000015",
      "name": "aggregate-results",
      "position": [
        2750,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": $json.status, \"questions_created\": $json.questions_created, \"gaps_targeted\": $json.gaps_targeted, \"profile_id\": $json.profile_id } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f26a0016-ques-4a16-b016-000000000016",
      "name": "respond-200-success",
      "position": [
        3000,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4
    }
  ],
  "connections": {
    "webhook-question-batch-trigger": {
      "main": [
        [
          {
            "node": "check-buffer-threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check-buffer-threshold": {
      "main": [
        [
          {
            "node": "fetch-gap-categories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respond-200-buffer-full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-gap-categories": {
      "main": [
        [
          {
            "node": "fetch-existing-facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-existing-facts": {
      "main": [
        [
          {
            "node": "fetch-answered-questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-answered-questions": {
      "main": [
        [
          {
            "node": "fetch-profile-context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch-profile-context": {
      "main": [
        [
          {
            "node": "prepare-llm-context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare-llm-context": {
      "main": [
        [
          {
            "node": "latitude-generate-batch-questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "latitude-generate-batch-questions": {
      "main": [
        [
          {
            "node": "transform-questions-for-insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set-ai-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-ai-error": {
      "main": [
        [
          {
            "node": "respond-500-ai-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform-questions-for-insert": {
      "main": [
        [
          {
            "node": "insert-questions-batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert-questions-batch": {
      "main": [
        [
          {
            "node": "reset-batch-counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset-batch-counter": {
      "main": [
        [
          {
            "node": "aggregate-results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate-results": {
      "main": [
        [
          {
            "node": "respond-200-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "webhook-question-batch-trigger": [
      {
        "body": {
          "profile_id": "profile-uuid-1",
          "pending_count": 5,
          "trigger_type": "batch_threshold"
        }
      }
    ],
    "fetch-gap-categories": [
      {
        "category_id": "cat-1",
        "category_name": "skills",
        "taxonomy_section": "competence",
        "category_emoji": "\ud83d\udee0\ufe0f",
        "fact_count": 1,
        "gap_severity": 2
      }
    ],
    "fetch-existing-facts": [
      {
        "fact_title": "Knows Python",
        "category_key": "competence.skills"
      }
    ],
    "fetch-answered-questions": [
      {
        "question_text": "Do you know Go?",
        "question_category": "competence/skills"
      }
    ],
    "fetch-profile-context": [
      {
        "full_name": "Jane Doe",
        "headline": "Software Engineer"
      }
    ],
    "latitude-generate-batch-questions": [
      {
        "object": [
          {
            "question_text": "What is your preferred team size?",
            "question_type": "multiple_choice",
            "priority": 80,
            "target_category": "preferences/team_size_pref",
            "options": [
              "Small",
              "Medium",
              "Large"
            ]
          }
        ]
      }
    ]
  }
}